@use "../../tools" as mlu;

/*
Btn

Block for creating buttons. It normalizes styles.

Markup: ../../../docs/examples/core-blocks/btn/btn.html

Styleguide: core-blocks.btn
*/

.btn {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	font-family: inherit;
	font-size: mlu.px2rem(mlu.$base-font-size);
	line-height: normal;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	background: none;
	border: 0;
	cursor: pointer;
}
