@use '../../tools' as mlu;

/*
Inp

Block for creating inputs. Normalizes styles.

Markup: ../../../docs/examples/core-blocks/inp/inp.html

Styleguide: core-blocks.inp
*/

.inp {
	display: inline-block;
	box-sizing: border-box;
	margin: 0px;
	font-family: inherit;
	font-size: mlu.px2rem(mlu.$base-font-size);
	border: 0;
}
