@use '../../tools' as ml;

/*
Ratio-box

Block for creating containers, with proportional width and height. Implemented using a pseudo-element with a `padding-bottom` in %.

The default aspect ratio is 16:9.

.Pt75p_b - 4:3 aspect ratio.
.Pt100p_b - 1:1 aspect ratio.

Markup: ../../../docs/examples/core-blocks/ratio-block/ratio-block.hbs

Styleguide: core-blocks.ratio-box
*/

/*
Responsive iframe

Responsive `iframe` with [ratio-box](section-core-blocks.html#kssref-core-blocks-ratio-box). Width is set for example. Use modifiers to change the aspect ratio.

Markup: ../../../docs/examples/core-blocks/ratio-block/iframe.html

Styleguide: examples.other.responsive_iframe
*/

.ratio-box {
	position: relative;

	&::before {
		display: block;
		width: 100%;
		padding-top: 56.25%;
		content: '';
	}

	> :first-child {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
}

.ratio-box-flex {
	&::before {
		float: left;
		padding-top: 56.25%;
		content: '';
	}

	@include ml.apply('-Cl');
}
