@use 'sass-true' as *;
@use 'tools' as ml;
@use 'sass:map';
@use 'sass:list';

@use 'core/utils/load';
@use 'test-addon';
@use 'core/utils/init' with (
	$utils: (
		'^_D': ('', 'n', 'f'),

		'/override': (
			'M': (1su, 2r)
		),

		'/allow': (
			'M', 'Fl', 'Tsh', 'Bgsz'
		),

		/*
		//`ban` test commented because it and `allow` is mutually exclusive
		// and module can be configure only once
		'/ban': list.join(
			map.keys(map.get(ml.$utils-db, 'utils', 'registry')),
			('Offsets', 'Paddings', 'Margins', 'BdWidth')
		),
		*/
	),
);

@include describe('core/utils/init') {
	@include it('override and allow loaded utils') {
		@include assert-equal(
			ml.$utils-map,
			(
				'M': (1su, 2r),
				'Fl': ('', 'r'),
				'Tsh_h,f a': ('-defTsh', 'rv'),
				ml.$bp-all + '_Bgsz': (100p, ml.$tUKwa),
			),
			$inspect: true,
		);
	}

	/*
	@include it('ban utils') {
		@include assert-equal(
			ml.$utils-map,
			(
				'Overflows': ('', 'a', 's', 'v'),
				'Borders': ml.$bp-all + '_',
				'BdStyle': ('d', 'ds', '#{ml.$bp-all} #{ml.$kArOnly}_s'),
				'reputation': (100, 150),
			),
			$inspect: true,
		);
	}
 */
}
