<div class="ratio-block {{modifier_class}} test-row W3gc_md">
	<div class="ratio-block__content">
		<b>Some content here</b>
		<p>[12:41:28] Starting 'style'... [12:41:29] mlut.min.css 2699 B (gzipped) [12:41:29] Finished 'style' after 205 ms </p>
		<p>Block for creating containers, with proportional width and height. The default aspect ratio is 16: 9</p>
	</div>
</div>
