/***
* Wrapper:
*/

/**
* wrapper:
* Блок-контейнер для основного содержимого страницы. Максимальная ширина по умолчанию - 1200px.
* У контейнера есть поля, чтобы контент не прилипал на маленьких экранах.
* На широких экранах контейнер располагается по центру
*
*		@example
*		.wrapper
*			h2 Заголовок
*			p Любой контент
*			p Еще один абзац с контентом
*/

/**
* wrapper__row:
* Элемент, который накладывает левый и правый отступы у крайних колонок на поля блока `wrapper`.
* Такое поведение нужно, чтобы в раскладке не возникало двойных полей. Этот элемент опционален, потому что в разных ситуациях может понадобиться разное поведение полей.
*
*		@example
*		.wrapper
*			.row.wrapper__row
*				.row__col.test-content.W7c Колонка 0
*				.row__col.test-content.W5c Колонка 1
*/

.wrapper {
	$prev-gtr: $mlu-gtr-sm;

	display: block;
	max-width: $mlu-wrapper-max-width + ($mlu-gtr-sm * 2);
	box-sizing: border-box;
	margin: auto;
	@include mlu-generate-gutter($type: "padding", $calc: 1);

	@each $key, $value in $mlu-grid-gutters {
		@if $value != $prev-gtr {
			@include mlu-bpm($key) {
				max-width: $mlu-wrapper-max-width + $value * 2;
			}
		}

		$prev-gtr: $value;
	}
}

.wrapper__row {
	margin-right: - $mlu-grid-gutter-fallback;
	margin-left: - $mlu-grid-gutter-fallback;
	margin-right: calc(-#{$mlu-gtr-sm});
	margin-left: calc(-#{$mlu-gtr-sm});

	@include mlu-generate-gutter(-1, $coef: -1, $calc: 1);
}
