/*
CSS variables

CSS custom properties which used in MLUT. Their names are stored in variables and can be changed in [settings](section-sass-tools.html#kssref-sass-tools-settings-css_vars-names). Names of such variables correspond to the original names of custom properties.

The values and meaning of many custom properties correspond to the [SASS settings](section-sass-tools.html#kssref-sass-tools-settings) of MLUT core. But unlike them, custom properties can be changed dynamically without recompiling.

Custom properties are used as a progressive enhancement. By default, fallback is enabled for browsers that do not support them. Generation of custom properties is controlled by [$MLU-FLAG-CSS-VARS](section-sass-tools.html#kssref-sass-tools-settings-flags).

--mlu-gtr = 12px - [grid gutter](section-concepts.html#kssref-concepts-grid) in `px`.
Value sets [here](section-sass-tools.html#kssref-sass-tools-settings-grid-gutters).
Fallback is [$mlu-grid-default-gtr](section-sass-tools.html#kssref-sass-tools-settings-general).
--mlu-gtr-rem = 0.75rem - grid gutter in `rem`.

Styleguide: core-styles.css_vars
*/

@if $MLU-FLAG-CSS-VARS {
	:root {
		@include mlu-generate-gutter($type: $--mlu-gtr, $css-vars: false);
		@include mlu-generate-gutter(mlu-px2rem($mlu-gtr-sm), $type: $--mlu-gtr-rem, $css-vars: false);
	}
}
