@charset "utf-8";

@import "base/normalize";

@import "includes/settings";
@import "includes/functions";
@import "includes/mixins";

/*===CORE-BLOCKS===*/
@import "../core-blocks/reset/reset";
@import "../core-blocks/page/page";
@import "../core-blocks/row/row";
@import "../core-blocks/wrapper/wrapper";
@import "../core-blocks/ratio-block/ratio-block";
@import "../core-blocks/btn/btn";
@import "../core-blocks/input/input";

/*===DESIGN-BLOCKS===*/

/*===CORE-UTILS===*/
@import "../core-utils/display";
@import "../core-utils/flex";
@import "../core-utils/grid";
@import "../core-utils/box-sizing";
@import "../core-utils/margin";
@import "../core-utils/padding";
@import "../core-utils/visual-formatting";
@import "../core-utils/text";
@import "../core-utils/border";

//@import "../core-blocks/grid-debug/grid-debug";

/*===DESIGN-UTILS===*/
