@charset "utf-8";

@import "includes/settings";
@import "includes/functions";
@import "includes/mixins";

@import "base/variables";
@import "base/normalize";
//@import "base/system-font";

/*===CORE-BLOCKS===*/
@import "../core-blocks/page/page";
@import "../core-blocks/row/row";
@import "../core-blocks/wrapper/wrapper";
@import "../core-blocks/ratio-block/ratio-block";
@import "../core-blocks/btn/btn";
@import "../core-blocks/input/input";
//@import "../core-blocks/grid-debug/grid-debug";

/*===DESIGN-BLOCKS===*/

/*===CORE-UTILS===*/
@import "../core-utils/position";
@import "../core-utils/display";
@import "../core-utils/flex";
@import "../core-utils/grid";
@import "../core-utils/box-sizing";
@import "../core-utils/margin";
@import "../core-utils/padding";
@import "../core-utils/visual-formatting";
@import "../core-utils/font";
@import "../core-utils/text";
@import "../core-utils/background";
@import "../core-utils/border";

/*===DESIGN-UTILS===*/
