@use 'sass-true' as *;
@use 'tools' as ml;

@include describe('tools/functions/base/custom_units') {
	@include describe('space unit converters') {
		@include it('converts u to px') {
			@include assert-equal(
				ml.su(3),
				0.75rem,
			);

			@include assert-equal(
				ml.su(4u),
				ml.$su * 4,
			);
		}

		@include it('wrong type of argument') {
			@include assert-equal(
				ml.su('1'),
				'ERROR: Wrong type of argument $n: `string`. Expected `number`',
			);
		}
	}
}
