@use 'sass:map';
@use 'sass:list';
@use 'forward-tools' as ml;

// Grid system
//
// Settings that affect the work of grid system.
//
// $ml-gs-default-gtr = 16px - default gutter on large width screen. Used as fallback for [--ml-gg](section-core-styles.html#kssref-core-styles-css_vars).
// $ml-gs-columns - columls count.
// $ml-gs-gutters - map with grid gutters on breakpoints.
//
// Styleguide: sass-tools.settings.gs

/*
Gutters

Gutters value on breakpoints.

Breakpoint | Gutter
:---:  | :---:
<sm | 12px
sm | 12px
md | 12px
lg | 16px
xl | 16px

Styleguide: sass-tools.settings.gs.gtr
*/

$gs-columns: 12 !default;
$gs-default-gtr: (ml.$su * 4) !default;
$gs-gutters: () !default;
$gs-gutters-ext: () !default;
$gtr-first: (ml.$su * 3);
$gs-flex-fallback: false !default;

@if $gs-gutters == () {
	@each $bp, $gtr in list.zip(
		ml.$bp-keys, ($gtr-first, $gtr-first, $gs-default-gtr, $gs-default-gtr)
	) {
		$gs-gutters: map.set($gs-gutters, $bp, $gtr);
	}
}

$gs-gutters: map.merge($gs-gutters, $gs-gutters-ext);
$gtr-first: list.nth(list.nth($gs-gutters, 1), 2);
