@use 'sass:map';
@use 'forward-tools' as ml;

// Grid system
//
// Settings that affect the work of grid system.
//
// $ml-grid-default-gtr = 16px - default gutter on large width screen. Used as fallback for [--ml-gg](section-core-styles.html#kssref-core-styles-css_vars).
// $ml-grid-gutter-fallback = 1.5% - Fallback for grid gutter's width if CSS `calc()` not supported
// $ml-grid-columns - columls count.
// $ml-grid-gutters - map with grid gutters on breakpoints.
//
// Styleguide: sass-tools.settings.grid

$grid-columns: 12 !default;
$grid-default-gtr: (ml.$su * 4) !default;
$grid-gutter-fallback: 1.5% !default;

/*
Columns and gutters

Columns count and gutters value on breakpoints.

Breakpoint | Columns | Gutter
:---:  | :---: | :---:
xs | 4 | 12px
sm | 4 | 12px
md | 12 | 12px
lg | 12 | 16px
xl | 12 | 16px

Styleguide: sass-tools.settings.grid.cols
*/

// Gutters
//
// Gutters variables and their values ​​in the source
//
// - `$ml-gtr-sm = ` `$ml-su * 3`
// - `$ml-gtr-md = ` `$ml-gtr-sm`
// - `$ml-gtr-lg = ` `$ml-grid-default-gtr`
// - `$ml-gtr-xl = ` `$ml-gtr-lg`
//
// Styleguide: sass-tools.settings.grid.gtr

$gtr-sm: (ml.$su * 3) !default;
$gtr-md: $gtr-sm !default;
$gtr-lg: $grid-default-gtr !default;
$gtr-xl: $gtr-lg !default;

$grid-cfg: (
	'gutters': (
		ml.$bp-sm: $gtr-sm,
		ml.$bp-md: $gtr-md,
		ml.$bp-lg: $gtr-lg,
		ml.$bp-xl: $gtr-xl,
	),
) !default;

$grid-config: () !default;
$grid-config-ext: () !default;

$grid-cfg: map.deep-merge($grid-cfg, $grid-config);
$grid-cfg: map.deep-merge($grid-cfg, $grid-config-ext);

$grid-gutters: map.get($grid-cfg, 'gutters');
