@use 'sass:map';
@use 'sass:list';
@use 'forward-tools' as ml;

// Grid system
//
// Settings that affect the work of grid system.
//
// $ml-grid-default-gtr = 16px - default gutter on large width screen. Used as fallback for [--ml-gg](section-core-styles.html#kssref-core-styles-css_vars).
// $ml-grid-columns - columls count.
// $ml-grid-gutters - map with grid gutters on breakpoints.
//
// Styleguide: sass-tools.settings.grid

/*
Gutters

Gutters value on breakpoints.

Breakpoint | Gutter
:---:  | :---:
<sm | 12px
sm | 12px
md | 12px
lg | 16px
xl | 16px

Styleguide: sass-tools.settings.grid.gtr
*/

$grid-columns: 12 !default;
$grid-default-gtr: (ml.$su * 4) !default;
$grid-gutters: () !default;
$grid-gutters-ext: () !default;
$gtr-first: (ml.$su * 3);

@if $grid-gutters == () {
	@each $bp, $gtr in list.zip(
		ml.$bp-keys, ($gtr-first, $gtr-first, $grid-default-gtr, $grid-default-gtr)
	) {
		$grid-gutters: map.set($grid-gutters, $bp, $gtr);
	}
}

$grid-gutters: map.merge($grid-gutters, $grid-gutters-ext);
$gtr-first: list.nth(list.nth($grid-gutters, 1), 2);
