-
	var pageTitle = "Index",
	features = [
		{title: "Feature", descr: "Simple text"},
	],
	siteMapData = [
		{title: "Site map section", list: [
			{label: "site map item", link: "/catalogs/1/sections/9"},
			]
		},
	],
	myForm = [
		{
			label: "",
			input: {id: "form-name", placeholder: "Имя", type: "text", name: "name", required: ""},
		},
	],
	socLinks = [
		{icon: "fb", label: "Facebook", link: "#"},
		{icon: "ins", label: "Instagram", link: "#"},
		{icon: "vk", label: "Вконтакте", link: "#"},
	],
	absolutePath = "",
	i, j = 0;
