-
	var pageTitle = "My little UI Toolkit",
	products = [
		{title: "Product", price: "1000"},
	],
	myForm = [
			{id: "form-name", label: "Имя", type: "text", name: "name", required: 1},
	],
	i, j = 0;
