-
	var pageTitle = "Index",
	products = [
		{title: "Product", price: "1000"},
	],
	myForm = [
			{id: "form-name", label: "Имя", type: "text", name: "name", required: 1},
	],
	socLinks = [
		{icon: "fb", label: "Facebook", link: "#"},
	],
	i, j = 0;
