<div class="row Mx-1gg">
	<div class="row__col test-row W9gc_md">
		<div class="row {{modifier_class}}">
			<div class="row__col W2gc_sm W3gc_md">
				<b>Parent W9gc_md</b>
				<p>this W3gc_md</p>
			</div>
			<div class="row__col W2gc_sm W4gc_md">
				<b>Parent W9gc_md</b>
				<p>this W4gc_md</p>
			</div>
			<div class="row__col W2gc_sm W5gc_md">
				<b>Parent W9gc_md</b>
				<p>this W5gc_md</p>
			</div>
		</div>
	</div>
	<div class="row__col W2gc_sm W3gc_md">
		<b>W3gc_md</b>
	</div>
</div>
