<div class="row Mx-1gg">
	<div class="row__col test-row W9gs_md">
		<div class="row {{modifier_class}}">
			<div class="row__col W2gs_sm W3gs_md">
				<b>Parent W9gs_md</b>
				<p>this W3gs_md</p>
			</div>
			<div class="row__col W2gs_sm W4gs_md">
				<b>Parent W9gs_md</b>
				<p>this W4gs_md</p>
			</div>
			<div class="row__col W2gs_sm W5gs_md">
				<b>Parent W9gs_md</b>
				<p>this W5gs_md</p>
			</div>
		</div>
	</div>
	<div class="row__col W2gs_sm W3gs_md">
		<b>W3gs_md</b>
	</div>
</div>
