@charset "UTF-8";

html {
	height: 100%;
}

img {
	vertical-align: top;
	max-width: 100%;
	border: none;
}

/*===CORE-BLOCKS===*/

/***
* Page:
*/

/**
* Page:
* Класс `page` задается только для тега `<body>`. Он убирает внешний отступ по умолчанию и задает системный шрифт.
* Класс используется вместо стилизации тега `<body>`, чтобы при подключении библиотеки на существующий
* проект не произошло неожиданностей ввиде переопределенных стилей.
*
*		@example
*		body.page
*/

.page {
	height: 100%;
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

/***
* Row:
*/

/**
* row:
* Блок для создания раскладок из колонок или карточек.
*
*		@example
*		.row
*			.row__col.test-content.W3c 3/12
*			.row__col.test-content.W3c 3/12
*			.row__col.test-content.W6c 6/12
*/

/**
* row__col:
* Элемент для создания колонок. По умолчанию растягивается под ширину контента.
* Размеры колонкам задаются с помощью утилит.
*
*		@example
*		.row
*			- for(var i = 0; i < 3; i++)
*				.row__col.test-content
*					p Текст в колонке
*			.row__col.test-content
*				p Et molestie ac, feugiat sed lectus
*				p Текст в колонке
*
*/

.row {
	display: block;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	list-style: none;
	counter-reset: mlu-row-item;
}

.row__col,
.row__cell,
.row__item {
	position: relative;
	display: inline-block;
	max-width: 100%;
	box-sizing: border-box;
	text-align: left;
	vertical-align: top;
	font-size: 16px;
	font-size: 1rem;
	direction: ltr;
}

.row__col > :first-child:not([class]),
.row__cell > :first-child:not([class]),
.row__item > :first-child:not([class]) {
	margin-top: 0px;
}

.row__col > :last-child:not([class]),
.row__cell > :last-child:not([class]),
.row__item > :last-child:not([class]) {
	margin-bottom: 0px;
}

.row__col {
	margin: 0px 1.5%;
	margin: 0px calc(12px);
	margin-bottom: 24px;
	width: 97%;
	width: calc(100% - 24px);
}

.row__col.row {
	margin-bottom: 0px;
}

.row__cell {
	width: 100%;
	padding: 0px 1.5%;
	padding: 0px 12px;
}

.row.row__col,
.row.row__cell,
.row.row__item {
	font-size: 0px;
}

.row__sub {
	margin-bottom: -24px;
}

/***
* Wrapper:
*/

/**
* wrapper:
* Блок-контейнер для основного содержимого страницы. Максимальная ширина по умолчанию - 1200px.
* У контейнера есть поля, чтобы контент не прилипал на маленьких экранах.
* На широких экранах контейнер располагается по центру
*
*		@example
*		.wrapper
*			h2 Заголовок
*			p Любой контент
*			p Еще один абзац с контентом
*/

/**
* wrapper__row:
* Элемент, который накладывает левый и правый отступы у крайних колонок на поля блока `wrapper`.
* Такое поведение нужно, чтобы в раскладке не возникало двойных полей. Этот элемент опционален, потому что в разных ситуациях может понадобиться разное поведение полей.
*
*		@example
*		.wrapper
*			.row.wrapper__row
*				.row__col.test-content.W7c Колонка 0
*				.row__col.test-content.W5c Колонка 1
*/

.wrapper {
	display: block;
	max-width: 1224px;
	margin: auto;
	box-sizing: border-box;
	padding: 0px 1.5%;
	padding: 0px calc(12px);
}

.wrapper__row {
	margin-right: -1.5%;
	margin-left: -1.5%;
	margin-right: calc(-12px);
	margin-left: calc(-12px);
}

.btn {
	display: inline-block;
	border: none;
	box-sizing: border-box;
	font: inherit;
	font-size: 1rem;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.input {
	display: inline-block;
	border: none;
	box-sizing: border-box;
	font: inherit;
}

/*===DESIGN BLOCKS===*/

/*===CORE-UTILS AND HELPRES===*/

/**
* D - display:
* Утилита `D` управляет отображением компонента на странице.
*
*		@example
*		h4 D-n - скрывает компонент
*		p В разметке есть скрытый абзац
*		p.D-n
*			Этот абзац скрыт, как будто его нет
*		.D-n_sm.test-content
*			h3 Этот компонент будет скрыт на брейкпоинте sm
*			p
*				Значение утилиты D - n_sm
*/

.D {
	display: block;
}

.D-tb {
	display: table;
}

.D-tbfg {
	display: table-footer-group;
}

.D-f,
.mRfx {
	display: flex;
}

.D-if {
	display: inline-flex;
}

.D-n {
	display: none !important;
}

.F-i {
	font: inherit;
}

.C-i {
	color: inherit;
}

.Ta-c,
.mRj-c {
	text-align: center;
}

.Ta-l {
	text-align: left;
}

.Ta-r,
.mRj-e {
	text-align: right;
}

.Dir-r {
	direction: rtl;
}

.mTov {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.Fxw-wr {
	flex-wrap: wrap-reverse;
}

.As-s {
	align-self: stretch;
}

.As-fs {
	vertical-align: top;
	align-self: flex-start;
}

.As-c {
	vertical-align: middle;
	align-self: center;
}

.As-fe {
	vertical-align: bottom;
	align-self: flex-end;
}

.Jc-fe,
.mRj-e {
	justify-content: flex-end;
}

.Jc-c,
.mRj-c {
	justify-content: center;
}

.Jc-sa {
	justify-content: space-around;
}

.Jc-sb {
	justify-content: space-between;
}

.Ai-fs {
	align-items: flex-start;
}

.Ai-fe,
.mRai-fe {
	align-items: flex-end;
}

.Ai-c,
.mRai-c {
	align-items: center;
}

/***
* Утилиты:
*/

/**
* W - width:
* `W` - утилита, которая управляет шириной компонента.
*
*		@example
*		div.W4c
*			.test-content
*				h3 Просто текст в контейнере
*				p
*					Aenean euismod elementum nisi, quis eleifend quam adipiscing vitae proin sagittis, nisl. Suscipit tellus mauris a diam maecenas sed enim ut sem viverra aliquet eget sit amet tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra, magna ac placerat.
*/

/**
* Ml - margin left:
* `Ml` задает компонентам отступ слева.
*
*		@example
*		.Ml3c.test-content
*			h3 Контейнер с отступом
*			p Aenean euismod elementum nisi, quis eleifend quam adipiscing vitae proin sagittis, nisl. Suscipit tellus mauris a diam maecenas sed enim ut sem viverra aliquet eget sit amet tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra, magna ac placerat.
*/

/**
* Rj - row justify:
* Утилита распределяющая колонки по горизонтали.
*
*		@example
*		.row.Rj-c
*			.row__col.W5c: .test-content Текст в колонке
*			.row__col.W3c: .test-content 3/12
*/

/**
* Rai - row align items:
* Утилита, которая выравнивает колонки по вертикали.
*
*		@example
*		.row.Rai-fe
*			.row__col.W4c.test-content
*				h4 Текст в колонке
*				p Et molestie ac, feugiat sed lectus
*				p Текст в колонке
*			- for(var i = 0; i < 3; i++)
*				.row__col.W2c.test-content
*					p Текст в колонке
*
*/

.W-card {
	max-width: 288px;
}

.Maw100p {
	max-width: 100%;
}

.W1c {
	width: 47%;
	width: calc(50% - 24px);
}

.W50p {
	width: 50%;
}

.Ml-a,
.Mx-a {
	margin-left: auto;
}

.Mr-a,
.Mx-a {
	margin-right: auto;
}

.M-a {
	margin: auto;
}

.M0 {
	margin: 0px;
}

.Mt4g {
	margin-top: 3rem;
}

.Mb4g {
	margin-bottom: 3rem;
}

.Mt3g {
	margin-top: 2.25rem;
}

.Mb3g {
	margin-bottom: 2.25rem;
}

.Mt2g {
	margin-top: 1.5rem;
}

.Mb2g {
	margin-bottom: 1.5rem;
}

.Mb1g {
	margin-bottom: 0.75rem;
}

.Ml-1g {
	margin-left: -12px;
}

.Ml1g {
	margin-left: 12px;
}

.P0 {
	padding: 0px;
}

.P8 {
	padding: 0.5em 8px;
}

.Ov {
	overflow: hidden;
}

.Ov-a {
	overflow: auto;
}

.mRai-c > .row__col,
.mRai-c > .row__item,
.mRai-c > .row__cell {
	vertical-align: middle;
}

.mRai-fe > .row__col,
.mRai-fe > .row__item,
.mRai-fe > .row__cell {
	vertical-align: bottom;
}

.mRfx {
	flex-wrap: wrap;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0px;
	margin: -1px;
	white-space: nowrap;
	border: 0px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.hide-text {
	color: transparent;
	text-indent: 120%;
	white-space: nowrap;
	font-size: 0px;
	overflow: hidden;
}

.hide-text::-moz-selection {
	color: transparent;
}

.hide-text::selection {
	color: transparent;
}

.clearfix:after {
	display: table;
	clear: both;
	content: "";
}

/*===DESIGN-UTILS===*/

@media (min-width: 520px) {
	.W-a_sm {
		width: auto;
	}

	.W1c_sm {
		width: 22%;
		width: calc(25% - 24px);
	}

	.W1s_sm {
		width: 25%;
	}

	.W2c_sm {
		width: 47%;
		width: calc(50% - 24px);
	}

	.W2s_sm {
		width: 50%;
	}

	.W3c_sm {
		width: 72%;
		width: calc(75% - 24px);
	}

	.W3s_sm {
		width: 75%;
	}

	.W4c_sm {
		width: 97%;
		width: calc(100% - 24px);
	}

	.W4s_sm {
		width: 100%;
	}
}

@media (min-width: 760px) {
	.W-a_md {
		width: auto;
	}

	.W1c_md {
		width: calc(8.333% - 24px);
	}

	.W1s_md {
		width: 8.333%;
	}

	.Ml1s_md {
		margin-left: 8.333%;
	}

	.Ml1c_md {
		margin-left: calc(8.333% + 12px);
	}

	.W2c_md {
		width: calc(16.666% - 24px);
	}

	.W2s_md {
		width: 16.666%;
	}

	.Ml2s_md {
		margin-left: 16.666%;
	}

	.Ml2c_md {
		margin-left: calc(16.666% + 12px);
	}

	.W3c_md {
		width: calc(25% - 24px);
	}

	.W3s_md {
		width: 25%;
	}

	.Ml3s_md {
		margin-left: 25%;
	}

	.Ml3c_md {
		margin-left: calc(25% + 12px);
	}

	.W4c_md {
		width: calc(33.333% - 24px);
	}

	.W4s_md {
		width: 33.333%;
	}

	.Ml4s_md {
		margin-left: 33.333%;
	}

	.Ml4c_md {
		margin-left: calc(33.333% + 12px);
	}

	.W5c_md {
		width: calc(41.666% - 24px);
	}

	.W5s_md {
		width: 41.666%;
	}

	.Ml5s_md {
		margin-left: 41.666%;
	}

	.Ml5c_md {
		margin-left: calc(41.666% + 12px);
	}

	.W6c_md {
		width: calc(50% - 24px);
	}

	.W6s_md {
		width: 50%;
	}

	.Ml6s_md {
		margin-left: 50%;
	}

	.Ml6c_md {
		margin-left: calc(50% + 12px);
	}

	.W7c_md {
		width: calc(58.333% - 24px);
	}

	.W7s_md {
		width: 58.333%;
	}

	.Ml7s_md {
		margin-left: 58.333%;
	}

	.Ml7c_md {
		margin-left: calc(58.333% + 12px);
	}

	.W8c_md {
		width: calc(66.666% - 24px);
	}

	.W8s_md {
		width: 66.666%;
	}

	.Ml8s_md {
		margin-left: 66.666%;
	}

	.Ml8c_md {
		margin-left: calc(66.666% + 12px);
	}

	.W9c_md {
		width: calc(75% - 24px);
	}

	.W9s_md {
		width: 75%;
	}

	.Ml9s_md {
		margin-left: 75%;
	}

	.Ml9c_md {
		margin-left: calc(75% + 12px);
	}

	.W10c_md {
		width: calc(83.333% - 24px);
	}

	.W10s_md {
		width: 83.333%;
	}

	.Ml10s_md {
		margin-left: 83.333%;
	}

	.Ml10c_md {
		margin-left: calc(83.333% + 12px);
	}

	.W11c_md {
		width: calc(91.666% - 24px);
	}

	.W11s_md {
		width: 91.666%;
	}

	.W12c_md {
		width: calc(100% - 24px);
	}

	.W12s_md {
		width: 100%;
	}
}

@media (min-width: 960px) {
	.row__col {
		margin-left: calc(16px);
		margin-right: calc(16px);
	}

	.row__col {
		margin-bottom: 32px;
	}

	.row__cell {
		padding-left: 16px;
		padding-right: 16px;
	}

	.row__sub {
		margin-bottom: -32px;
	}

	.wrapper {
		padding-left: calc(16px);
		padding-right: calc(16px);
	}

	.wrapper {
		max-width: 1232px;
	}

	.wrapper__row {
		margin-left: calc(-16px);
		margin-right: calc(-16px);
	}

	.W1c {
		width: calc(50% - 32px);
	}

	.W-a_lg {
		width: auto;
	}

	.W1c_sm {
		width: 22%;
		width: calc(25% - 32px);
	}

	.W1s_sm {
		width: 25%;
	}

	.W2c_sm {
		width: 47%;
		width: calc(50% - 32px);
	}

	.W2s_sm {
		width: 50%;
	}

	.W3c_sm {
		width: 72%;
		width: calc(75% - 32px);
	}

	.W3s_sm {
		width: 75%;
	}

	.W4c_sm {
		width: 97%;
		width: calc(100% - 32px);
	}

	.W4s_sm {
		width: 100%;
	}

	.W1c_md {
		width: calc(8.333% - 32px);
	}

	.W1s_md {
		width: 8.333%;
	}

	.Ml1s_md {
		margin-left: 8.333%;
	}

	.Ml1c_md {
		margin-left: calc(8.333% + 16px);
	}

	.W2c_md {
		width: calc(16.666% - 32px);
	}

	.W2s_md {
		width: 16.666%;
	}

	.Ml2s_md {
		margin-left: 16.666%;
	}

	.Ml2c_md {
		margin-left: calc(16.666% + 16px);
	}

	.W3c_md {
		width: calc(25% - 32px);
	}

	.W3s_md {
		width: 25%;
	}

	.Ml3s_md {
		margin-left: 25%;
	}

	.Ml3c_md {
		margin-left: calc(25% + 16px);
	}

	.W4c_md {
		width: calc(33.333% - 32px);
	}

	.W4s_md {
		width: 33.333%;
	}

	.Ml4s_md {
		margin-left: 33.333%;
	}

	.Ml4c_md {
		margin-left: calc(33.333% + 16px);
	}

	.W5c_md {
		width: calc(41.666% - 32px);
	}

	.W5s_md {
		width: 41.666%;
	}

	.Ml5s_md {
		margin-left: 41.666%;
	}

	.Ml5c_md {
		margin-left: calc(41.666% + 16px);
	}

	.W6c_md {
		width: calc(50% - 32px);
	}

	.W6s_md {
		width: 50%;
	}

	.Ml6s_md {
		margin-left: 50%;
	}

	.Ml6c_md {
		margin-left: calc(50% + 16px);
	}

	.W7c_md {
		width: calc(58.333% - 32px);
	}

	.W7s_md {
		width: 58.333%;
	}

	.Ml7s_md {
		margin-left: 58.333%;
	}

	.Ml7c_md {
		margin-left: calc(58.333% + 16px);
	}

	.W8c_md {
		width: calc(66.666% - 32px);
	}

	.W8s_md {
		width: 66.666%;
	}

	.Ml8s_md {
		margin-left: 66.666%;
	}

	.Ml8c_md {
		margin-left: calc(66.666% + 16px);
	}

	.W9c_md {
		width: calc(75% - 32px);
	}

	.W9s_md {
		width: 75%;
	}

	.Ml9s_md {
		margin-left: 75%;
	}

	.Ml9c_md {
		margin-left: calc(75% + 16px);
	}

	.W10c_md {
		width: calc(83.333% - 32px);
	}

	.W10s_md {
		width: 83.333%;
	}

	.Ml10s_md {
		margin-left: 83.333%;
	}

	.Ml10c_md {
		margin-left: calc(83.333% + 16px);
	}

	.W11c_md {
		width: calc(91.666% - 32px);
	}

	.W11s_md {
		width: 91.666%;
	}

	.W12c_md {
		width: calc(100% - 32px);
	}

	.W12s_md {
		width: 100%;
	}

	.W1c_lg {
		width: calc(8.333% - 32px);
	}

	.W1s_lg {
		width: 8.333%;
	}

	.Ml1s_lg {
		margin-left: 8.333%;
	}

	.Ml1c_lg {
		margin-left: calc(8.333% + 16px);
	}

	.W2c_lg {
		width: calc(16.666% - 32px);
	}

	.W2s_lg {
		width: 16.666%;
	}

	.Ml2s_lg {
		margin-left: 16.666%;
	}

	.Ml2c_lg {
		margin-left: calc(16.666% + 16px);
	}

	.W3c_lg {
		width: calc(25% - 32px);
	}

	.W3s_lg {
		width: 25%;
	}

	.Ml3s_lg {
		margin-left: 25%;
	}

	.Ml3c_lg {
		margin-left: calc(25% + 16px);
	}

	.W4c_lg {
		width: calc(33.333% - 32px);
	}

	.W4s_lg {
		width: 33.333%;
	}

	.Ml4s_lg {
		margin-left: 33.333%;
	}

	.Ml4c_lg {
		margin-left: calc(33.333% + 16px);
	}

	.W5c_lg {
		width: calc(41.666% - 32px);
	}

	.W5s_lg {
		width: 41.666%;
	}

	.Ml5s_lg {
		margin-left: 41.666%;
	}

	.Ml5c_lg {
		margin-left: calc(41.666% + 16px);
	}

	.W6c_lg {
		width: calc(50% - 32px);
	}

	.W6s_lg {
		width: 50%;
	}

	.Ml6s_lg {
		margin-left: 50%;
	}

	.Ml6c_lg {
		margin-left: calc(50% + 16px);
	}

	.W7c_lg {
		width: calc(58.333% - 32px);
	}

	.W7s_lg {
		width: 58.333%;
	}

	.Ml7s_lg {
		margin-left: 58.333%;
	}

	.Ml7c_lg {
		margin-left: calc(58.333% + 16px);
	}

	.W8c_lg {
		width: calc(66.666% - 32px);
	}

	.W8s_lg {
		width: 66.666%;
	}

	.Ml8s_lg {
		margin-left: 66.666%;
	}

	.Ml8c_lg {
		margin-left: calc(66.666% + 16px);
	}

	.W9c_lg {
		width: calc(75% - 32px);
	}

	.W9s_lg {
		width: 75%;
	}

	.Ml9s_lg {
		margin-left: 75%;
	}

	.Ml9c_lg {
		margin-left: calc(75% + 16px);
	}

	.W10c_lg {
		width: calc(83.333% - 32px);
	}

	.W10s_lg {
		width: 83.333%;
	}

	.Ml10s_lg {
		margin-left: 83.333%;
	}

	.Ml10c_lg {
		margin-left: calc(83.333% + 16px);
	}

	.W11c_lg {
		width: calc(91.666% - 32px);
	}

	.W11s_lg {
		width: 91.666%;
	}

	.W12c_lg {
		width: calc(100% - 32px);
	}

	.W12s_lg {
		width: 100%;
	}

	.Ml0c_lg {
		margin-left: 16px;
	}

	.Ml0_lg {
		margin-left: 0;
	}

	.Mt4g {
		margin-top: 4rem;
	}

	.Mb4g {
		margin-bottom: 4rem;
	}

	.Mt3g {
		margin-top: 3rem;
	}

	.Mb3g {
		margin-bottom: 3rem;
	}

	.Mt2g {
		margin-top: 2rem;
	}

	.Mb2g {
		margin-bottom: 2rem;
	}

	.Mb1g {
		margin-bottom: 1rem;
	}

	.Ml-1g {
		margin-left: -16px;
	}

	.Ml1g {
		margin-left: 16px;
	}
}

@media (min-width: 1168px) {
	.D-n_xl {
		display: none;
	}

	.Dir-r_xl {
		direction: rtl;
	}

	.W-a_xl {
		width: auto;
	}

	.W1c_xl {
		width: calc(8.333% - 32px);
	}

	.W1s_xl {
		width: 8.333%;
	}

	.Ml1s_xl {
		margin-left: 8.333%;
	}

	.Ml1c_xl {
		margin-left: calc(8.333% + 16px);
	}

	.W2c_xl {
		width: calc(16.666% - 32px);
	}

	.W2s_xl {
		width: 16.666%;
	}

	.Ml2s_xl {
		margin-left: 16.666%;
	}

	.Ml2c_xl {
		margin-left: calc(16.666% + 16px);
	}

	.W3c_xl {
		width: calc(25% - 32px);
	}

	.W3s_xl {
		width: 25%;
	}

	.Ml3s_xl {
		margin-left: 25%;
	}

	.Ml3c_xl {
		margin-left: calc(25% + 16px);
	}

	.W4c_xl {
		width: calc(33.333% - 32px);
	}

	.W4s_xl {
		width: 33.333%;
	}

	.Ml4s_xl {
		margin-left: 33.333%;
	}

	.Ml4c_xl {
		margin-left: calc(33.333% + 16px);
	}

	.W5c_xl {
		width: calc(41.666% - 32px);
	}

	.W5s_xl {
		width: 41.666%;
	}

	.Ml5s_xl {
		margin-left: 41.666%;
	}

	.Ml5c_xl {
		margin-left: calc(41.666% + 16px);
	}

	.W6c_xl {
		width: calc(50% - 32px);
	}

	.W6s_xl {
		width: 50%;
	}

	.Ml6s_xl {
		margin-left: 50%;
	}

	.Ml6c_xl {
		margin-left: calc(50% + 16px);
	}

	.W7c_xl {
		width: calc(58.333% - 32px);
	}

	.W7s_xl {
		width: 58.333%;
	}

	.Ml7s_xl {
		margin-left: 58.333%;
	}

	.Ml7c_xl {
		margin-left: calc(58.333% + 16px);
	}

	.W8c_xl {
		width: calc(66.666% - 32px);
	}

	.W8s_xl {
		width: 66.666%;
	}

	.Ml8s_xl {
		margin-left: 66.666%;
	}

	.Ml8c_xl {
		margin-left: calc(66.666% + 16px);
	}

	.W9c_xl {
		width: calc(75% - 32px);
	}

	.W9s_xl {
		width: 75%;
	}

	.Ml9s_xl {
		margin-left: 75%;
	}

	.Ml9c_xl {
		margin-left: calc(75% + 16px);
	}

	.W10c_xl {
		width: calc(83.333% - 32px);
	}

	.W10s_xl {
		width: 83.333%;
	}

	.Ml10s_xl {
		margin-left: 83.333%;
	}

	.Ml10c_xl {
		margin-left: calc(83.333% + 16px);
	}

	.W11c_xl {
		width: calc(91.666% - 32px);
	}

	.W11s_xl {
		width: 91.666%;
	}

	.W12c_xl {
		width: calc(100% - 32px);
	}

	.W12s_xl {
		width: 100%;
	}

	.Ml0c_xl {
		margin-left: 16px;
	}

	.Ml0_xl {
		margin-left: 0;
	}

	.mRj-sa_xl {
		text-align: center;
		justify-content: space-around;
	}

	.mRj-s_xl {
		text-align: left;
		justify-content: flex-start;
	}

	.mRj-c_xl {
		text-align: center;
		justify-content: center;
	}

	.mRj-e_xl {
		text-align: right;
		justify-content: flex-end;
	}

	.mRj-sb_xl {
		text-align: center;
		justify-content: space-between;
	}
}

@media (max-width: 519px) {
	.D-n_xs {
		display: none;
	}
}

@media (min-width: 520px) and (max-width: 759px) {
	.D-n_sm {
		display: none;
	}

	.Dir-r_sm {
		direction: rtl;
	}

	.mRj-s_sm {
		text-align: left;
		justify-content: flex-start;
	}

	.mRj-c_sm {
		text-align: center;
		justify-content: center;
	}

	.mRj-e_sm {
		text-align: right;
		justify-content: flex-end;
	}

	.mRj-sb_sm {
		text-align: center;
		justify-content: space-between;
	}
}

@media (min-width: 760px) and (max-width: 959px) {
	.D-n_md {
		display: none;
	}

	.Dir-r_md {
		direction: rtl;
	}

	.mRj-sa_md {
		text-align: center;
		justify-content: space-around;
	}

	.mRj-s_md {
		text-align: left;
		justify-content: flex-start;
	}

	.mRj-c_md {
		text-align: center;
		justify-content: center;
	}

	.mRj-e_md {
		text-align: right;
		justify-content: flex-end;
	}

	.mRj-sb_md {
		text-align: center;
		justify-content: space-between;
	}
}

@media (min-width: 960px) and (max-width: 1167px) {
	.D-n_lg {
		display: none;
	}

	.Dir-r_lg {
		direction: rtl;
	}

	.mRj-sa_lg {
		text-align: center;
		justify-content: space-around;
	}

	.mRj-s_lg {
		text-align: left;
		justify-content: flex-start;
	}

	.mRj-c_lg {
		text-align: center;
		justify-content: center;
	}

	.mRj-e_lg {
		text-align: right;
		justify-content: flex-end;
	}

	.mRj-sb_lg {
		text-align: center;
		justify-content: space-between;
	}
}