.test-row {
	background-color: #ccc;
}

.test-content,
.kss-modifier__wrapper [class*="row__"]:not(.row):not([class*="test"]) {
	padding: 10px;
	color: #306;
	font-size: 1.1rem;
	background-color: #c9c;
}

.test-cell {
	color: #306;
	background-color: #c9c;
}

.test-card {
	border: 1px #ccc solid;
}

@media (min-width: 520px) {
	.grid-debug {
		padding: 48px 0px;
		background-image: linear-gradient(90deg, #336 12px, #d15 12px, #d15 calc(100% - 12px), #336 0);
		background-size: 25%;
	}
}

@media (min-width: 760px) {
	.grid-debug {
		background-size: 8.333%;
	}
}

@media (min-width: 960px) {
	.grid-debug {
		background-image: linear-gradient(90deg, #336 16px, #d15 16px, #d15 calc(100% - 16px), #336 0);
	}
}
