@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use 'sass:string';
@use 'sass:list';

@use '../../settings/base/general' as ml;
@use 'error' as *;

/*
String

Functions to manipulate strings.

Styleguide: sass-tools.functions.base.string
*/

// ml-str2n
//
// Convert string to number. Returns null if conversion is not possible.
// ```scss
//@debug ml.str2n('1.5'); // 1.5
//@debug ml.str2n('1x5'); // 1
//@debug ml.str2n('xx'); // null
//@debug ml.str2n('1x5', 1); // 1x5
// ```
//
// $str - string to be converted
// $skip-unknown = false - bool flag. If it on and the string contains an unknown sequence of characters after the number, then the it is returned as is
//
// Styleguide: sass-tools.functions.base.string.str2n

@function str2n($str, $skip-unknown: false) {
	$value-type: meta.type-of($str);

	@if $value-type == 'number' {
		@return $str;
	}

	@if $value-type != 'string' {
		@return null;
	}

	$negative: string.slice($str, 1, 1) == '-';
	$result: 0;
	$decimal: false;

	@for $i from if($negative, 2, 1) through string.length($str) {
		$char: string.slice($str, $i, $i);
		$digit: string.index(ml.$dec-digits, $char);

		@if $digit and not $decimal {
			$result: $result * 10 + ($digit - 1);
		} @else if $digit and $decimal {
			$result: $result + math.div($digit - 1, $decimal);
			$decimal: $decimal * 10;
		} @else if $char == '.' and not $decimal {
			$decimal: 10;
		} @else if ($i == 1 and not $negative) or ($i == 2 and $negative) {
			@return null;
		} @else {
			$unit: map.get(ml.$units-all, string.to-lower-case(string.slice($str, $i)));

			@if not $unit {
				@if $skip-unknown {
					@return $str;
				}

				$unit: 1;
			}

			@return if($negative, -$result, $result) * $unit;
		}
	}

	@return if($negative, -$result, $result);
}

// str-digit-index
//
// Returns the first index of digit in $str, or `null` if digits not found
// ```scss
//@debug ml.str-digit-index('Mb55'); // 3
//@debug ml.str-digit-index('Mt-a'); // null
// ```
//
// $str - string for search
//
// Styleguide: sass-tools.functions.base.string.str_digit_index

@function str-digit-index($str) {
	@if meta.type-of($str) != 'string' {
		@return error('Wrong type of argument $str: `#{meta.type-of($str)}`. Expected `string`');
	}

	@for $i from 1 through string.length($str) {
		@if string.index(ml.$dec-digits, string.slice($str, $i, $i)) {
			@return $i;
		}
	}

	@return null;
}

// str-ucfirst
//
// Converts the first letter of string to uppercase
// ```scss
//@debug ml.str-ucfirst('fxg1'); // 'Fxg1'
// ```
//
// $str - string for converting
//
// Styleguide: sass-tools.functions.base.string.str_ucfirst

@function str-ucfirst($str) {
	@if meta.type-of($str) != 'string' {
		@return error('Wrong type of argument $str: `#{meta.type-of($str)}`. Expected `string`');
	}

	@return string.to-upper-case(string.slice($str, 1, 1)) + string.slice($str, 2);
}

// str-escape
//
// Escape special characters in value for using it in CSS selector.
// ```scss
//@debug ml.str-escape(':^:&:h'); // '\\:\\^\\:\\&\\:h'
//@debug ml.str-escape(1.5); // '1\\.5'
// ```
//
// $value - value for escaping
//
// Styleguide: sass-tools.functions.base.string.str_escape

@function str-escape($value) {
	$str: $value + '';
	$escaped: '';

	@for $i from 1 through string.length($str) {
		$char: string.slice($str, $i, $i);

		@if list.index(ml.$spec-chars, $char) {
			$char: '\\' + $char;
		}

		$escaped: $escaped + $char;
	}

	@return $escaped;
}

// Private functions only for internal usage. I hope that in the future they will be built into Sass. And when it will happens I don't want that their removing broke backward compatibility.

@function str-split($str, $separator: '', $repeats: ml.$number-max) {
	$result: ();
	$sep-length: string.length($separator);
	$str-length: string.length($str);

	@if $sep-length == 0 {
		@if $repeats < 1 {
			@return $str;
		}

		@for $i from 1 through math.min($str-length, $repeats) {
			$result: list.append($result, string.slice($str, $i, $i));
		}

		@return if(
			$repeats < $str-length,
			list.append($result, string.slice($str, $repeats + 1)),
			$result
		);
	}

	$sep-pos: string.index($str, $separator);
	$i: 0;

	@while $sep-pos != null and $i < $repeats {
		$result: list.append($result, string.slice($str, 1, $sep-pos - 1));
		$str: string.slice($str, $sep-pos + $sep-length);
		$sep-pos: string.index($str, $separator);
		$i: $i + 1;
	}

	@return list.append($result, $str);
}

//Trim so simple because common usage will trim one or zero spaces in one side.

@function str-trim($str) {
	@while 1 {
		@if string.slice($str, 1, 1) == ' ' {
			$str: string.slice($str, 2);
		} @else if string.slice($str, -1) == ' ' {
			$str: string.slice($str, 1, -2);
		} @else {
			@return $str;
		}
	}
}

@function str-replace($str, $old, $new: '') {
	$old-pos: string.index($str, $old);

	@if $old-pos {
		@return string.slice($str, 1, $old-pos - 1) + $new + string.slice($str, $old-pos + string.length($old));
	}

	@return $str;
}

@function str-replace-all($str, $old, $new: '') {
	$old-pos: string.index($str, $old);
	$old-length: string.length($old);
	$result: '';

	@while $old-pos {
		$result: $result + string.slice($str, 1, $old-pos - 1) + $new;
		$str: string.slice($str, $old-pos + $old-length);
		$old-pos: string.index($str, $old);
	}

	@return $result + $str;
}

@function str-starts($str, $substr) {
	@if meta.type-of($str) != 'string' or meta.type-of($substr) != 'string' {
		@return false;
	}

	@return string.slice($str, 1, string.length($substr)) == $substr;
}

@function str-hex2color($str) {
	$value-type: meta.type-of($str);

	@if $value-type == 'color' {
		@return $str;
	}

	@if $value-type != 'string' or string.slice($str, 1, 1) != '#' {
		@return null;
	}

	$str-length: string.length($str);

	@if $str-length != 4 and $str-length != 7 {
		@return error('Invalid color format: `#{$str}`. Allowed 3 or 6 hexadecimal digits');
	}

	$r: '';
	$g: '';
	$b: '';
	$str: string.to-lower-case($str);

	$max-length: if(
		$str-length == 4, 1, 2
	);

	@for $i from 2 through $str-length {
		$digit: string.slice($str, $i, $i);

		@if not list.index(ml.$hex-digits, $digit) {
			@return error('Invalid character: `#{$digit}`. Allowed only hexadecimal digits');
		}

		@if string.length($r) < $max-length {
			$r: $r + $digit;
		} @else if string.length($g) < $max-length {
			$g: $g + $digit;
		} @else {
			$b: $b + $digit;
		}
	}

	@if $str-length == 4 {
		$r: $r + $r;
		$g: $g + $g;
		$b: $b + $b;
	}

	@return rgb(-hex2dec($r), -hex2dec($g), -hex2dec($b));
}

@function -hex2dec($n) {
	$str-number: string.to-lower-case($n);
	$result: 0;
	$base: list.length(ml.$hex-digits);
	$length: string.length($str-number);

	@for $i from 1 through $length {
		$digit: list.index(ml.$hex-digits, string.slice($str-number, $i, $i)) - 1;
		$result: $result + $digit * math.pow($base, $length - $i);
	}

	@return $result;
}
