@use 'sass:map';
@use 'sass:list';
@use '../../tools/settings' as ml;

/*
Position

* `Ps`
* `Ps-s`
* `Ps-a` - *responsive*
* `Ps-f`
* `T0`, `R0`, `B0`, `L0`
* `T100p`, `R100p`, `B100p`, `L100p`
* `-X0` - set R0 and L0
* `-Y0` - set T0 and B0

Styleguide: core-utils.ps
*/

/*
Zi

`z-index`.

0..3 - `z-index` available range. You can change it in utilities [settings](section-sass-tools.html#kssref-sass-tools-settings-utils).
-1 - move DOM node under parent node.

Styleguide: core-utils.ps.zi
*/

/*
-I

X and Y coordinate axes. Change `top` or `bottom` and `right` or `left`.

0 - set T0, R0, B0 and L0.
50p - centered DOM node with `Pos-a` or `Pos-f` using `T50p`, `L50p` and `transform`.

Styleguide: core-utils.pos.i
*/

/*
Animation

* `Trs-mAll` \- transition duration sets [here](section-sass-tools.html#kssref-sass-tools-settings-utils).

Styleguide: core-utils.anim
*/

/*
Misc

* `Rs-n`

Styleguide: core-utils.misc
*/

/*
-All

Custom `all`.

* `sr` \- soft reset, reset some default browser styles:
	* `margin`
	* `padding`
	* `border`
	* `font`
	* `list-style`

Markup: ../../../docs/examples/core-utils/visual-formatting/-all.html

Styleguide: core-utils.misc.-all
*/

$-Ct-list: ('', 'n', 'mAtt');

ml.$utils-map: map.merge(
	ml.$utils-map,
	ml.$kSsUMCS,
	(
		// position
		ml.$cBpAllCp + 'Ps': (ml.$kUvKA),
		ml.$cBpAllCp + 'Offsets': ('a', 0, -1, 1, -50p, 50p, -100p, 100p),
		'#{ml.$kBpAll} #{ml.$kArSt}_Zi_f fw': ('a', [-1, 5]),
		// interactive
		'Overscrolls': ('c', 'a', 'n'),
		'Ap': (''),
		ml.$cBpAllCp + 'Pne': ('', 'n', 'a'),
		'Rs': (ml.$kUvKA),
		'Us': (ml.$kUvKA),
		ml.$cBpAllCp + 'Ctv': ('v', 'h', 'a'),
		'Tca': (ml.$kUvKA, 'n'),
		// SVG
		'Stlc': (ml.$kUvKA),
		'Stlj': (ml.$kUvKA),
		// misc
		'Ec': (ml.$kUvKA),
		'Cps': ('t', 'b'),
		'Wlc': ('sps', 'ctn', 'tf'),
		'Ct_b af ' + ml.$kStOl: $-Ct-list,
		'#{ml.$kBpAll} #{ml.$kArSO}_Ct_b af': $-Ct-list,
		'-All': ('sr'),
	)
);
