@use '../../tools' as ml;

/*
Wrapper

The helper-container for the main content of the page. The maximum width is set in the [settings](section-settings.html#kssref-settings-general). The default is `1200px`.

The container has sides `padding` that equal to gutters so that the content does not stick to sides on small screens. On wide screens the container is centered.

Markup: ../../../docs/examples/core-helpers/wrapper/wrapper.html

Styleguide: core-helpers.wrapper
*/

.wrapper {
	display: block;
	max-width: ml.$wrapper-max-width;
	margin: 0 auto;

	@include ml.apply('-Px1gg');
}
