/*
Background

Group of utilities for management of background.

Styleguide: core-utils.bg
*/

/*
mBgp

mBgp-cc \- modified background position.

Group of utilities for management of background.

Styleguide: core-utils.bg.mbgp
*/

.Bgr-n {
	background-repeat: no-repeat;
}

.mBgp-cc {
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.Bgsz-cv {
	background-size: cover;
}

.Bgsz-ct {
	background-size: contain;
}
