/*
D

D \- display. Utility sets the display type of component.

Markup:
<div class="test-content W5gc_md">
	<h3 class="D-ib_sm">Title</h3>
	<p class="D-n_xl">Hidden content</p>
</div>

Styleguide: core-utils.d
*/

/*
mD

mD is used for for setting the display type with additional parameters.

Markup:
<div class="row mD-f">
	<div class="test-content row__col W2gc_sm W3gc_md">
		<h3>W2gc_sm W3gc_md</h3>
		<p>Some text</p>
	</div>
</div>

Styleguide: core-utils.d.md
*/

.D {
	display: block;
}

.D-tb {
	display: table;
}

.D-tbfg {
	display: table-footer-group;
}

.D-f {
	display: flex;
}

.D-if {
	display: inline-flex;
}

.D-n {
	display: none;
}

.mD-f {
	display: flex;
	flex-wrap: wrap;
}

.mD-if {
	display: inline-flex;
	flex-wrap: wrap;
}

@each $key, $value in $mlu-grid-cols {
	@include mlu-bpm($key) {
		.D-n_#{$key} {
			display: none;
		}

		.D_#{$key} {
			display: block;
		}

		.D-ib_#{$key} {
			display: inline-block;
		}

		.D-f_#{$key} {
			display: flex;
		}

		.D-if_#{$key} {
			display: inline-flex;
		}
	}
}
