/**
* D - display:
* Утилита `D` управляет отображением компонента на странице.
*
*		@example
*		h4 D-n - скрывает компонент
*		p В разметке есть скрытый абзац
*		p.D-n
*			Этот абзац скрыт, как будто его нет
*		.D-n_sm.test-content
*			h3 Этот компонент будет скрыт на брейкпоинте sm
*			p
*				Значение утилиты D - n_sm
*/

.D {
	display: block;
}

.D-tb {
	display: table;
}

.D-tbfg {
	display: table-footer-group;
}

.D-f {
	display: flex;
}

.D-if {
	display: inline-flex;
}

.D-n {
	display: none;
}

@each $key, $value in $mlu-grid-cols {
	@include mlu-bpm($key) {
		.D-n_#{$key} {
			display: none;
		}

		.D_#{$key} {
			display: block;
		}

		.D-ib_#{$key} {
			display: inline-block;
		}
	}
}
