/*
D

D \- display. Sets the display type.

initial - block. The element stretches on the full width of the container and creates line breaks before and after. *Responsive*.
f - flex. Turns an element into a flex container. Can be used to progressive enhancement the [row](section-core-block.html#kssref-core-blocks-row) layouts. Child elements will be stretched to the full height of the container. *Responsive*.
if - inline-flex. *Responsive*.

Styleguide: core-utils.visual.d
*/

/*
mD

mD-f - D-f with line breaks.

Styleguide: core-utils.visual.md
*/

.D {
	display: block;
}

.D-ib {
	display: inline-block;
}

.D-tb {
	display: table;
}

.D-tbc {
	display: table-cell;
}

.D-tbr {
	display: table-row;
}

.D-itb {
	display: inline-table;
}

.D-f {
	display: flex;
}

.D-if {
	display: inline-flex;
}

.D-n {
	display: none;
}

.mD-f {
	display: flex;
	flex-wrap: wrap;
}

.mD-if {
	display: inline-flex;
	flex-wrap: wrap;
}

@each $key, $value in $mlu-grid-cols {
	@include mlu-bpm($key) {
		.D-n_#{$key} {
			display: none;
		}

		.D_#{$key} {
			display: block;
		}

		.D-ib_#{$key} {
			display: inline-block;
		}

		.D-f_#{$key} {
			display: flex;
		}

		.D-if_#{$key} {
			display: inline-flex;
		}
	}
}

@if $MLU-FLAG-EXTENDED {
	.D-i {
		display: inline;
	}

	.D-tbfg {
		display: table-footer-group;
	}
}
