/*
Float

Group of utilities for work with float.

Styleguide: core-utils.float
*/

/*
Fl

Fl \- float. Sets float to component.

Markup:
<div class="test-content W2gc_sm mCl">
	<h3 class="Fl">Title</h3>
	<p>Some text</p>
</div>

Styleguide: core-utils.float.fl
*/

/*
mCl

mCl is clearfix utility.

Markup:
<div class="test-content W2gc_sm mCl">
	<h3 class="Fl">Title</h3>
	<p class="Fl-r">Some text</p>
</div>

Styleguide: core-utils.float.mcl
*/

.Fl {
	float: left;
}

.Fl-r {
	float: right;
}

.mCl {
	@include mlu-clearfix;
}
