/*
W

Width. You can set width in the grid-columns(gc) or in the grid-spans(gs).

If you specify the width in grid units on one breakpoint, then the width is preserved on all subsequent breakpoints.

* `W-a` \- default DOM node width. Depends on DOM node [display type](#kssref-core-utils-visual-d). *Responsive*.
* `W50p` \- 50%.
* `W100p`
* `W-card` \- fixed width for cards. You can change it in utilities [settings](section-sass-tools.html#kssref-sass-tools-settings-utils).
* `W1gc` \- 1/2 of grid in grid-columns on `xs` breakpoint, because on `xs`, grid has 2 columns.
* `W2gc`
* `W1gc_sm..W4gc_sm` \- range of available width in `gc` on `sm` breakpoint, because on `sm`, grid has 4 columns. You can change grid options in [settings](section-sass-tools.html#kssref-sass-tools-settings-grid). Contains CSS `calc()` fallback.
* `W1gc..W12gc` \- available width in `gc` on all breakpoints, starting with `md`.
* `W1gs_sm..W4gs_sm` \- range of available width in grid spans on `sm`.
* `W1gs..W12gs`

Markup: ../../../docs/examples/core-utils/box-sizing/w.html

Styleguide: core-utils.bxz.w
*/

@for $i from 1 through $mlu-grid-cols-xs {
	@if $MLU-FLAG-COL-MARGIN {
		.W#{$i}gc {
			@include mlu-W($i * 1gc, $cols: $mlu-grid-cols-xs, $calc: $MLU-FLAG-CALC-FALLBACK);
		}
	}

	.W#{$i}gs {
		@include mlu-W($i * 1gs, $cols: $mlu-grid-cols-xs);
	}
}

.W-a {
	width: auto;
}

// Generate grid utilities W and Ml on breakpoints
@each $key, $value in $mlu-grid-cols {
	@for $i from 1 through $value {
		@if $MLU-FLAG-COL-MARGIN {
			.W#{$i}gc_#{$key} {
				@include mlu-W($i * 1gc, $key, $value, $calc: $MLU-FLAG-CALC-FALLBACK);
			}
		}

		.W#{$i}gs_#{$key} {
			@include mlu-W($i * 1gs, $key, $value);
		}

		// Offsets start generate from $mlu-bp-md and if offset flag turn on.
		// '$i < mlu-grid-cols-count($gtr-key) - 1' because
		// offset like 'Ml11c' makes no sense
		@if $MLU-FLAG-COL-OFFSET and
			mlu-breakpoint($key) > mlu-breakpoint($mlu-bp-sm) and
			$i < $value - 1 {
			.Ml#{$i}gs_#{$key} {
				@include mlu-Ml($i * 1gs, $key, $value);
			}

			@if $MLU-FLAG-COL-MARGIN {
				.Ml#{$i}gc_#{$key} {
					@include mlu-Ml($i * 1gc, $key, $value, $calc: $MLU-FLAG-CALC-FALLBACK);
				}
			}
		}
	}

	@include mlu-bpm($key) {
		.W-a_#{$key} {
			width: auto;
		}
	}
}
