/*
W

W \- width. This utility sets component width.

Markup:
<div class="test-content W2gc_sm W5gc_md">
	<h3>Title</h3>
	<p>Some text</p>
</div>

Styleguide: core-utils.bxz.w
*/

.W-a {
	width: auto;
}

.W1gc {
	@include mlu-W(6, $calc: 1);
}

.W2gc {
	@include mlu-W(12, $calc: 1);
}

.W50p {
	width: 50%;
}

.W100p {
	width: 100%;
}

// Generate grid utilities W and Ml on breakpoints
@each $key, $value in $mlu-grid-cols {
	$col-gutter: mlu-grid-gutter($key);
	$prev-col-gutter: 0;

	@if index($mlu-grid-cols, ($key $value)) > 1 {
		$prev-col-gutter: mlu-grid-gutter(mlu-breakpoint-prev-name($key));
	}

	@include mlu-bpm($key) {
		.W-a_#{$key} {
			width: auto;
		}

		// Pass through the map of gutters to check for
		// gutter differences at the current breakpoint and on breakpoint
		// on which we want to generate
		@each $gtr-key, $gtr-value in $mlu-grid-gutters {
			$cols-count: mlu-grid-cols-count($gtr-key);

			@for $i from 1 through mlu-grid-cols-count($key) {
				$col-width: mlu-decimal-floor($i / $cols-count * 100%, 3);

				// Repeat generation utility with new gutter if it changed on breakpoint.
				// It need for utilities for smaller breakpoints correct work
				// on larger breakpoints with changed gutter
				@if $i <= $cols-count and
					($gtr-key == $key or ($gtr-value < $col-gutter and $col-gutter != $prev-col-gutter)) {
					.W#{$i}gc_#{$gtr-key} {
						// Generation calc() fallback if flag turn on or
						// current breakpoint is $mlu-bp-sm
						@if ($MLU-FLAG-CALC-FALLBACK or $gtr-key == $mlu-bp-sm) and $gtr-key == $key {
							width: mlu-decimal-floor($col-width, 2) - ($mlu-grid-gutter-fallback * 2);
						}

						width: calc(#{$col-width} - #{$col-gutter * 2});
					}

					@if $gtr-key == $key {
						.W#{$i}gs_#{$gtr-key} {
							width: $col-width;
						}
					}

					// Offsets start generate from $mlu-bp-md and if offset flag turn on.
					// '$i < mlu-grid-cols-count($gtr-key) - 1' because
					// offset like 'Ml11c' makes no sense
					@if $MLU-FLAG-COL-OFFSET and
						mlu-breakpoint($gtr-key) > mlu-breakpoint($mlu-bp-sm) and
						$i < mlu-grid-cols-count($gtr-key) - 1 {

						@if $gtr-key == $key {
							.Ml#{$i}gs_#{$gtr-key} {
								margin-left: $col-width;
							}
						}

						.Ml#{$i}gc_#{$gtr-key} {
							@if $MLU-FLAG-CALC-FALLBACK and $gtr-key == $key {
								margin-left: mlu-decimal-floor($col-width, 2) + $mlu-grid-gutter-fallback;
							}

							margin-left: calc(#{$col-width} + #{$col-gutter});
						}
					}
				}
			}
		}

		@if $MLU-FLAG-COL-OFFSET and mlu-breakpoint($key) > mlu-breakpoint($mlu-bp-md) {
			.Ml0gc_#{$key} {
				margin-left: mlu-grid-gutter($key);
			}

			.Ml0_#{$key} {
				margin-left: 0;
			}
		}
	}
}
