/*
Ov

Ov \- overflow. Sets component overflow.

Markup:
<div class="test-content W2gc_sm W5gc_md">
	<h3>Title</h3>
	<p>Some text</p>
</div>

Styleguide: core-utils.ov
*/

.Ov {
	overflow: hidden;
}

.Ov-a {
	overflow: auto;
}
