/*
Padding

* `P0` \- clear all paddings.
* `P2su` \- creates paddings of 2su all around.
* `P1gg`
* `Pt1gg..Pt2gg` \- works similarly [Mt1gg](#kssref-core-utils-margin)
* `Pb1gg..Pb2gg`
* `Px1gg` - *responsive*
* `Px0` - only *responsive*

Styleguide: core-utils.padding
*/

$mlu-su-rem: mlu-px2rem($mlu-su);

.P0 {
	padding: 0px;
}

.P2su {
	padding: ($mlu-su-rem * 2) ($mlu-su * 2);
}

.P1gg {
	@include mlu-mk-gtr($type: "padding", $direct: "xy");
}

.Pt1gg {
	@include mlu-mk-gtr("rem", "padding", $direct: "top");
}

.Pt2gg {
	@include mlu-mk-gtr("rem", "padding", $direct: "top", $coef: 2);
}

.Pb1gg {
	@include mlu-mk-gtr("rem", "padding", $direct: "bottom");
}

.Pb2gg {
	@include mlu-mk-gtr("rem", "padding", $direct: "bottom", $coef: 2);
}

.Pl1gg {
	@include mlu-mk-gtr($type: "padding", $direct: "left");
}

.Pl2gg {
	@include mlu-mk-gtr($type: "padding", $direct: "left", $coef: 2);
}

@include mlu-bp-all(".Px1gg") {
	@include mlu-mk-gtr($type: "padding");
}

@include mlu-bp-all(".Px0", 0) {
	padding-left: 0;
	padding-right: 0;
}
