/*
Padding

* `P0` \- clear all paddings.
* `P2su` \- creates paddings of 2su all around.
* `Pt1gg` \- works similarly [Mt1gg](#kssref-core-utils-margin)
* `Pb1gg`
* `Px1gg`

Styleguide: core-utils.padding
*/

$mlu-su-rem: mlu-px2rem($mlu-su);

.P0 {
	padding: 0px;
}

.P2su {
	padding: ($mlu-su-rem * 2) ($mlu-su * 2);
}

.Pt1gg {
	@include mlu-make-gtr("rem", "padding", $direct: "top");
}

.Pb1gg {
	@include mlu-make-gtr("rem", "padding", $direct: "bottom");
}

.Pl1gg {
	@include mlu-make-gtr($type: "padding", $direct: "left");
}

.Pl2gg {
	@include mlu-make-gtr($type: "padding", $direct: "left", $coef: 2);
}

.Px1gg {
	@include mlu-make-gtr($type: "padding");
}

@each $key, $value in $mlu-grid-gutters {
	@include mlu-bpm($key) {
		.Px0_#{$key} {
			padding-left: 0;
			padding-right: 0;
		}

		.Px1gg_#{$key} {
			@include mlu-make-gtr($type: "padding");
		}
	}
}
