/*
Position

Utilities for position management.

Styleguide: core-utils.pos
*/

/*
mXy

mXy \- X and Y coordinate axes.

Markup:
<div class="test-content W2gc_sm W5gc_md">
	<h3>Test text</h3>
</div>

Styleguide: core-utils.pos.xy
*/

.Pos {
	position: relative;
}

.Pos-a {
	position: absolute;
}

.Pos-f {
	position: fixed;
}

.T0 {
	top: 0px;
}

.R0 {
	right: 0px;
}

.B0 {
	bottom: 0px;
}

.L0 {
	left: 0px;
}

.mXy0 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.mXy50p {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@for $i from 0 to $mlu-z-index-range {
	.Z#{$i} {
		z-index: $i;
	}
}

.Z-max {
	z-index: $mlu-z-index-max;
}

