.mRj-c {
	@extend .Ta-c;
	@extend .Jc-c !optional;
}

.mRj-e {
	@extend .Ta-r;
	@extend .Jc-fe !optional;
}

// Progressive enhancement from inline-blocks to flex
.mRai-c {
	@extend .Ai-c !optional;

	> .row__col,
	> .row__item,
	> .row__cell {
		vertical-align: middle;
	}
}

.mRai-fe {
	@extend .Ai-fe !optional;

	> .row__col,
	> .row__item,
	> .row__cell {
		vertical-align: bottom;
	}
}

.mRt-f {
	@extend .D-f, !optional;
	flex-wrap: wrap;
}

@each $key, $value in $mlu-grid-cols {
	$mq: ($key, mlu-breakpoint-next($key));

	@if index($mlu-grid-cols, ($key $value)) == length($mlu-grid-cols) {
		$mq: $key;
	}

	@include mlu-bpm($mq...) {
		@if $value > mlu-grid-cols-count($mlu-bp-sm) {
			/// Justify content modifiers
			.mRj-sa_#{$key} {
				text-align: center;
				justify-content: space-around;
			}
		}

		.mRj-s_#{$key} {
			text-align: left;
			justify-content: flex-start;
		}

		.mRj-c_#{$key} {
			text-align: center;
			justify-content: center;
		}

		.mRj-e_#{$key} {
			text-align: right;
			justify-content: flex-end;
		}

		.mRj-sb_#{$key} {
			text-align: center;
			justify-content: space-between;
		}

		@if $MLU-FLAG-EXTENDED {
			.mRai-fs_#{$key} {
				align-items: flex-start;

				> .row__col,
				> .row__item,
				> .row__cell {
					vertical-align: top;
				}
			}

			.mRai-c_#{$key} {
				align-items: center;

				> .row__col,
				> .row__item,
				> .row__cell {
					vertical-align: middle;
				}
			}

			.mRai-fe_#{$key} {
				align-items: flex-end;

				> .row__col,
				> .row__item,
				> .row__cell {
					vertical-align: bottom;
				}
			}
		}
	}
}
