// Progressive enhancement from inline-blocks to flex
.mRj-c {
	@extend .Jc-c !optional;
	@extend .Ta-c;
}

.mRj-e {
	@extend .Jc-fe !optional;
	@extend .Ta-r;
}

.mRai-c {
	@extend .Ai-c !optional;

	> * {
		vertical-align: middle;
	}
}

.mRai-fe {
	@extend .Ai-fe !optional;

	> * {
		vertical-align: bottom;
	}
}

.mRt-f {
	@extend .D-f, !optional;
	flex-wrap: wrap;
}

.mRt-if {
	@extend .D-if, !optional;
	flex-wrap: wrap;
}

@each $key, $value in $mlu-grid-cols {
	@include mlu-bpm($key) {
		@if $value > mlu-grid-cols-count($mlu-bp-sm) {
			.mRj-sa_#{$key} {
				justify-content: space-around;
				text-align: center;
			}
		}

		.mRj-s_#{$key} {
			justify-content: flex-start;
			text-align: left;
		}

		.mRj-c_#{$key} {
			justify-content: center;
			text-align: center;
		}

		.mRj-e_#{$key} {
			justify-content: flex-end;
			text-align: right;
		}

		.mRj-sb_#{$key} {
			justify-content: space-between;
			text-align: center;
		}

		@if $MLU-FLAG-EXTENDED {
			.mRai-fs_#{$key} {
				align-items: flex-start;

				> * {
					vertical-align: top;
				}
			}

			.mRai-c_#{$key} {
				align-items: center;

				> * {
					vertical-align: middle;
				}
			}

			.mRai-fe_#{$key} {
				align-items: flex-end;

				> * {
					vertical-align: bottom;
				}
			}
		}
	}
}
