/*
Text

Group of utilities that manage the display of text.

Styleguide: core-utils.text
*/

/*
Dir

Dir \- direction. Sets direction of text and order items in layout.

Markup:
<div class="row Dir-r">
	<div class="test-content row__col W2gc_sm W3gc_md">
		<h3>Rtl</h3>
		<p>Some text</p>
	</div>
</div>

Styleguide: core-utils.text.dir
*/

/*
mFz

mFz \- my font size. Sets font size with additional parameters.

Markup:
<div class="test-content W2gc_sm W5gc_md">
	<h3>Hidden text here</h3>
	<p class="mFz0">Some text</p>
</div>

Styleguide: core-utils.text.mfz
*/

/*
mTov

mTov \- my text overflow. Removes line breaks in the text and displays ellipsis at the end of the line if the text does not fit in the container.

Markup:
<div class="test-content W2gc_sm W3gc_md">
	<h3 class="Maw100p mTov">super super long long title</h3>
	<p>Some text</p>
</div>

Styleguide: core-utils.text.mtov
*/

.F-i {
	font: inherit;
}

.C-i {
	color: inherit;
}

.Ta-c {
	text-align: center;
}

.Ta-l {
	text-align: left;
}

.Ta-r {
	text-align: right;
}

.Dir-r {
	direction: rtl;
}

// A11y hide text only
.mFz0 {
	overflow: hidden;
	color: transparent;
	text-indent: 120%;
	white-space: nowrap;
	font-size: 0px;

	&::selection {
		color: transparent;
	}
}

.mTov {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@each $key, $value in $mlu-grid-cols {
	$mq: ($key, mlu-breakpoint-next($key));

	@if index($mlu-grid-cols, ($key $value)) == length($mlu-grid-cols) {
		$mq: $key;
	}

	@include mlu-bpm($mq...) {
		.Dir-r_#{$key} {
			direction: rtl;
		}
	}
}
