.F-i {
	font: inherit;
}

.C-i {
	color: inherit;
}

.Ta-c {
	text-align: center;
}

.Ta-l {
	text-align: left;
}

.Ta-r {
	text-align: right;
}

.Dir-r {
	direction: rtl;
}

@each $key, $value in $mlu-grid-cols {
	$mq: ($key, mlu-breakpoint-next($key));

	@if index($mlu-grid-cols, ($key $value)) == length($mlu-grid-cols) {
		$mq: $key;
	}

	@include mlu-bpm($mq...) {
		.Dir-r_#{$key} {
			direction: rtl;
		}
	}
}
