.F-i {
	font: inherit;
}

.C-i {
	color: inherit;
}

.Ta-c {
	text-align: center;
}

.Ta-l {
	text-align: left;
}

.Ta-r {
	text-align: right;
}

.Dir-r {
	direction: rtl;
}

// A11y hide text only
.mFz0 {
	color: transparent;
	text-indent: 120%;
	white-space: nowrap;
	font-size: 0px;
	overflow: hidden;

	&::selection {
		color: transparent;
	}
}

.mTov {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@each $key, $value in $mlu-grid-cols {
	$mq: ($key, mlu-breakpoint-next($key));

	@if index($mlu-grid-cols, ($key $value)) == length($mlu-grid-cols) {
		$mq: $key;
	}

	@include mlu-bpm($mq...) {
		.Dir-r_#{$key} {
			direction: rtl;
		}
	}
}
