/*
mV

mV \- my visibility. Shows and hides component with additional parameters.

Markup:
<div class="test-content W2gc_sm W4gc_md">
	<h3 class="mV-vh">Visually hidden title</h3>
	<p>Some text</p>
</div>

Styleguide: core-utils.mv
*/

.mV-vh {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0px;
	overflow: hidden;
	white-space: nowrap;
	border: 0px;
	clip: rect(0 0 0 0);
}
