/*
Visual formatting

* `D-tb`
* `D-tbc`
* `D-tbr`
* `D-itb`
* `Fl` \- turn on wrapping text on the right.
* `Fl-r` \- turn on wrapping text on the left.
* `Ov`
* `Ov-a` \- adds a scroll bar if the content does not fit into the container.

Styleguide: core-utils.visual
*/

/*
mCl

mCl is clearfix utility.

Markup:
<div class="test-content W2gc_sm mCl">
	<h3 class="Fl">Title</h3>
	<p class="Fl-r">Some text</p>
</div>

Styleguide: core-utils.visual.mcl
*/

/*
mV

mV \- modified visibility. Shows and hides with additional parameters.

vh - visually hidden.

Markup:
<div class="test-content W2gc_sm W4gc_md">
	<h3 class="mV-vh">Visually hidden title</h3>
	<p>Some text</p>
</div>

Styleguide: core-utils.visual.mv
*/

.Fl {
	float: left;
}

.Fl-r {
	float: right;
}

.mCl {
	@include mlu-clearfix;
}

.Ov {
	overflow: hidden;
}

.Ov-a {
	overflow: auto;
}

.mV-vh {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0px;
	overflow: hidden;
	white-space: nowrap;
	border: 0px;
	clip: rect(0 0 0 0);
}
