/*
Visual formatting

* `D-tb`
* `D-tbc`
* `D-tbr`
* `D-itb`
* `Fl` \- turn on wrapping text on the right.
* `Fl-r` \- turn on wrapping text on the left.
* `Ol0`
* `Op0`

Styleguide: core-utils.visual
*/

/*
mCl

Modified clear. It is clearfix utility. Use it with a container whose child DOM nodes have `Fl`.

Markup: ../../../docs/examples/core-utils/visual-formatting/mcl.html

Styleguide: core-utils.visual.mcl
*/

/*
Ov

Controls content display in case of overflow

Ov - hidden.
Ov-a - auto. Adds a scrollbar if the content does not fit into the container.
Ov.Ovx-a - auto. Scrollbar on X axis.
Ov.Ovy-a - auto. Scrollbar on Y axis.

Markup: ../../../docs/examples/core-utils/visual-formatting/ov.hbs

Styleguide: core-utils.visual.ov
*/

/*
mV

Modified visibility.

mV-vh - visually hides the DOM node but leaves it accessible to the screen readers and robots. For comparison `D-n` hides the DOM node from all.

Markup: ../../../docs/examples/core-utils/visual-formatting/mv.hbs

Styleguide: core-utils.visual.mv
*/

/*
mAll

Modified `all`.

* `sr` \- soft reset, reset some default browser styles:
	* `margin`
	* `padding`
	* `border`
	* `font`
	* `list-style`

Markup: ../../../docs/examples/core-utils/visual-formatting/mall.html

Styleguide: core-utils.visual.mall
*/


.Fl {
	float: left;
}

.Fl-r {
	float: right;
}

.mCl {
	@include mlu-mCl;
}

.Ov {
	overflow: hidden;
}

.Ov-a {
	overflow: auto;
}

.Ovx-a {
	overflow-x: auto;
}

.Ovy-a {
	overflow-y: auto;
}

.Ol0 {
	outline: 0px;

	&::-moz-focus-inner {
		border: 0;
	}
}

.Op0 {
	opacity: 0;
}

.mV-vh {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0px;
	overflow: hidden;
	white-space: nowrap;
	border: 0px;
	clip: rect(0 0 0 0);
}

.mAll-sr {
	margin: 0;
	padding: 0;
	font: inherit;
	list-style: none;
	border: 0;
}
