/*
Visual formatting

* `D-tb`
* `D-tbc`
* `D-tbr`
* `D-itb`
* `Fl` \- turn on wrapping text on the right.
* `Fl-r` \- turn on wrapping text on the left.
* `Ov`
* `Ov-a` \- adds a scroll bar if the content does not fit into the container.

Styleguide: core-utils.visual
*/

/*
mCl

Modified clear. It is clearfix utility. Use it with a container whose child elements have `Fl`.

Markup: ../../../docs/examples/core-utils/visual-formatting/mcl.html

Styleguide: core-utils.visual.mcl
*/

/*
mV

Modified visibility.

mV-vh - visually hides the element but leaves it accessible to the screen readers and robots. For comparison `D-n` hides the element from all.

Markup: ../../../docs/examples/core-utils/visual-formatting/mv.hbs

Styleguide: core-utils.visual.mv
*/

.Fl {
	float: left;
}

.Fl-r {
	float: right;
}

.mCl {
	@include mlu-clearfix;
}

.Ov {
	overflow: hidden;
}

.Ov-a {
	overflow: auto;
}

.mV-vh {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0px;
	overflow: hidden;
	white-space: nowrap;
	border: 0px;
	clip: rect(0 0 0 0);
}
