/***
* Page:
*/

/**
* Page:
* Класс `page` задается только для тега `<body>`. Он убирает внешний отступ по умолчанию и задает системный шрифт.
* Класс используется вместо стилизации тега `<body>`, чтобы при подключении библиотеки на существующий
* проект не произошло неожиданностей ввиде переопределенных стилей.
*
*		@example
*		body.page
*/

.page {
	height: 100%;
	margin: 0px;
	font-family: $mlu-font-family;
}
