/*
Page

Block for normalize browser styles of `body`. Designed for `body` tag.

It has `height: 100%` for sticky footer.

Styleguide: core-blocks.page
*/

.page {
	height: 100%;
	margin: 0px;
	font-family: $mlu-font-family;
}
