include includes/vars.pug
include includes/mixins.pug
doctype html
html(lang="ru")
	head
		- pageTitle = "Grid tests"
		include includes/head.pug
	body.page
		include includes/header.pug
		main
			.wrapper
				h1.title-h1 Grid tests
				h2 3 cols
				.row.Mx-1gg
					- for(i = 3; i < 6; i++)
						.row__col.test-content.W2gc_sm(class="W" + i + "gc_md")
							h3 .W#{i}gc
							p Et molestie ac, feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa, eget egestas purus viverra?
				section
					h2 12 cols
					.row.Mx-1gg.grid-debug
						- for(i = 0; i < 12; i++)
							.row__col.test-content.W1gc_sm.W1gc_md
								h3 1
				hr
				h2 Grid utils on div
				.M-a.W7gc_md
					h3 Просто текст в контейнере
					p Aenean euismod elementum nisi, quis eleifend quam adipiscing vitae proin sagittis, nisl. Suscipit tellus mauris a diam maecenas sed enim ut sem viverra aliquet eget sit amet tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra, magna ac placerat.
				hr
				h2 Fix width cards
				.row.Ml-2gg
					- for(i = 3; i < 6; i++)
						.row__item.test-card.Ml2gg.Mb2gg.Maw-fx0.P2su
							h3 Карточка #{i}
							p Описание карточки в несколько строчек с подробностями
				hr
				h2 Cells
				.row
					- for(i = 3; i < 6; i++)
						.row__item.test-cell.W2gc_sm(class="W" + i + "gc_md Px1gg")
							h3 Ячейка #{i}
							p Текст внутри ячейки
				hr
				h2 Items
				.row
					- for(i = 0; i < 3; i++)
						.row__item.test-row.W2gc_sm.W3gc_md
							h3 Элемент #{i}
							p элемент без отступов
					.row__item.test-row.W2gc_sm.W2gc_md.Ml1gg
						h3 Последний элемент
						p с внешним отступом

		include includes/footer.pug
		include includes/scripts.pug
