include includes/vars.pug
include includes/mixins.pug
doctype html
html(lang="ru")
	head
		include includes/head.pug
	body.M0.Ff--ss0
		include includes/header.pug
		main
			.wrapper
				h1.title-h1 MLUT tests
				ul
					li: a(href="grid.html") Grid tests
					li: a(href="nested-row.html") Nested rows
					li: a(href="layouts.html") Set of ready layouts

		include includes/footer.pug
		include includes/scripts.pug
