@use 'sass:meta';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:string';

@use '../forward-tools' as mlu;
@use '../../functions/general' as mgf;
@use '../general' as mgen;
@use '../grid' as mgs;
@use 'mk-state' as mst;

@mixin new-mk-util($raw-name, $values, $features: (), $options: ()) {
	$util-data: mlu.new-parse-util($raw-name);
	$util-name: map.get($util-data, 'value');
	$is-range: map.has-key($options, 'isRange');

	$main-options: if(
		$is-range,
		$options,
		-util-main-options($util-name, $options),
	);

	$class-name: map.get($main-options, 'class-name');
	$props: map.get($main-options, 'properties');
	$custom-selector: map.get($main-options, 'selector');
	$range-parser: map.get(
		mlu.$utils-config,
		'range-parsers',
		(
			map.get($main-options, 'range-parser')
			or 'number'
		)
	);

	@if not map.has-key(mlu.$utils-data, 'utils', 'registry', $util-name) {
		mlu.$utils-data: map.set(
			mlu.$utils-data, 'utils', 'registry', $util-name, if($options, $options, $props)
		);
	}

	$util-map: ();

	@if list.length($features) > 0 {
		$util-data: $features;
	}

	$is-values-map: meta.type-of($values) == 'map';
	$new-keywords: ();
	$i: 1;

	@each $key, $value in $values {
		$range-list: if($is-values-map, $key, list.nth($values, $i));

		@if list.is-bracketed($range-list) {
			@include new-mk-util(
				$util-name,
				$options: map.set($main-options, 'isRange', true),
				meta.call($range-parser, $range-list, $util-name)...
			);
		} @else {
			$util-val-data: mlu.new-parse-util($key);

			@if list.length($util-val-data) < 2 {
				$util-val-data: map.merge($util-data, $util-val-data);
			}

			$util-parsed-val: map.get($util-val-data, 'value');
			$at-rules: map.get($util-val-data, 'at-rules');
			$post-states: map.get($util-val-data, 'post-states');
			$pre-states: map.get($util-val-data, 'pre-states');
			$is-important: map.get($util-val-data, 'important');
			$css-values: $value;

			@if $css-values == null {
				$css-values: mlu.convert-util-value($util-parsed-val, $util-name);
			} @else if $css-values == false {
				$css-values: $util-parsed-val;
			} @else if not $is-range {
				$new-keywords: map.set($new-keywords, $util-parsed-val + '', $value);
			}

			$separated-value: if(
				$class-name == '',
				$util-parsed-val,
				mlu.util-separated-value($util-parsed-val),
			);

			@if $is-important {
				$separated-value: $separated-value + mlu.$tUIm;
			}

			$selector: mlu.str-escape($class-name + $separated-value);
			$this-util: (
				'name': $class-name,
				'value': $separated-value
			);

			$val-feat-str: mgf.ls-implode(
				map.values(map.remove($util-val-data, 'value')), ' '
			);

			$st-only: string.index($val-feat-str, mlu.$kStOnly);
			$ar-st-only: string.index($val-feat-str, mlu.$kArStOnly);
			$ar-st: string.index($val-feat-str, mlu.$kArSt);
			$args: (
				$props,
				$css-values,
				$is-important,
				map.get($main-options, 'repeat-prop-values'),
				map.get($main-options, 'preset-properties'),
				$util-name,
				$util-parsed-val,
			);

			@if not string.index($val-feat-str, mlu.$kArOnly) and not $ar-st-only {
				@include mst.new-mk-state(
					$post-states,
					$pre-states,
					not $st-only,
					$selector,
					$class-name,
					$custom-selector,
				) {
					@include -generate-props($args...);
				}
			}

			@if $at-rules {
				@include mgen.mk-ar($at-rules, $this-util) using ($ar) {
					$util-selector: '.' + mlu.str-escape($ar + mlu.$tUCm) + $selector;

					@if not $ar-st-only {
						@at-root {
							#{mlu.util-apply-selector($custom-selector, $util-selector)} {
								@include -generate-props($args...);
							}
						}
					}

					@if $ar-st or $ar-st-only {
						@include mst.new-mk-state(
							$post-states,
							$pre-states,
							false,
							$util-selector,
							$class-name,
							$custom-selector,
						) {
							@include -generate-props($args...);
						}
					}
				}
			}
		}

		$i: $i + 1;
	}

	@if list.length($new-keywords) > 0 {
		@include -save-new-keywords(
			$new-keywords, $util-name, $props, map.get($main-options, 'groupItemIndex')
		);
	}
}

@mixin -save-new-keywords($new-keywords, $util-name, $props, $group-item-index) {
	$util-type: (
		map.get(mlu.$utils-data, 'utils', 'registry', $util-name, 'value-type') or
		map.get(mlu.$utils-config, 'default-value-type')
	);

	@if list.nth($util-type, 1) != 'color' {
		$util-keywords: map.get(
			mlu.$utils-data, 'utils', 'registry', $util-name, 'keywords'
		);

		@if not list.index($util-type, 'keyword') {
			$util-type: list.join('keyword', $util-type);
		}

		$util-map: (
			'properties': $props,
			'value-type': $util-type,
		);

		@if meta.type-of($util-keywords) == 'map' or not $util-keywords {
			$util-map: map.set($util-map, 'keywords', $new-keywords);
		} @else {
			$util-map: map.set($util-map, 'custom-keywords', $new-keywords);
		}

		mlu.$utils-data: map.deep-merge(
			mlu.$utils-data,
			('utils': ('registry': ($util-name: $util-map)))
		);
	} @else if not $group-item-index or $group-item-index < 2 {
		mlu.$utils-data: map.deep-merge(
			mlu.$utils-data,
			('general': ('keywords': ('colors': $new-keywords)))
		);
	}
}

@mixin -generate-props(
	$props, $values, $is-important, $repeat-values, $preset-props, $util, $util-value
) {
	$i: if($repeat-values == null, 0, 1);
	$values-count: list.length($values);
	$important: (
		mlu.$flag-important or $is-important
	) and string.unquote('!important');

	$css-values: if(
		list.length($props) < 2 and $values-count > 1,
		($values,),
		$values
	);

	@if $preset-props {
		@each $key, $value in $preset-props {
			@if meta.type-of($value) == 'function' {
				#{$key}: meta.call($value, $util, $util-value, $values, $important);
			} @else if mlu.$flag-important {
				#{$key}: $value $important;
			} @else {
				#{$key}: $value;
			}
		}
	}

	@each $item in $props {
		@if $repeat-values == null {
			#{$item}: list.nth($css-values, ($i % $values-count) + 1) $important;
		} @else if $i <= $values-count {
			#{$item}: list.nth($css-values, $i) $important;
		}

		$i: $i + 1;
	}
}

@function -util-main-options($name, $options) {
	$prop: null;
	$needed-options: (
		'repeat-prop-values', 'preset-properties', 'selector', 'range-parser',
	);
	$result: (
		'class-name': if(
			map.has-key(mlu.$utils-data, 'utils', 'registry', $name, 'class-name'),
			map.get(mlu.$utils-data, 'utils', 'registry', $name, 'class-name'),
			$name
		),
	);

	@each $item in $needed-options {
		$result: map.set(
			$result,
			$item,
			map.get(mlu.$utils-data, 'utils', 'registry', $name, $item),
		);
	}

	$prop: map.get($options, 'properties');
	$result: map.merge($result, $options);

	@return map.set(
		$result, 'properties', $prop or mlu.util-prop($name, 'utils', true)
	);
}
