<div class="ratio-box {{modifier_class}} test-row md_W25p">
  <div>
		<b>Some content here</b>
		<p>[12:41:28] Starting 'style'... [12:41:29] mlut.min.css 12896 B (gzipped)</p>
		<p>Block for creating containers, with proportional width and height. The default aspect ratio is 16: 9</p>
	</div>
</div>
