/*
Ratio-block

Block for creating containers, with proportional width and height. Implemented using a pseudo-element with a `padding-bottom` in %.

The default aspect ratio is 16:9.

.ratio-block--4x3 - 4:3 aspect ratio.

Markup: ../../../docs/examples/core-blocks/ratio-block/ratio-block.hbs

Styleguide: core-blocks.ratio-block
*/

/*
ratio-block__content

An element for inserting content that will be resize proportionally. See example [above](#kssref-core-blocks-ratio-block)

Styleguide: core-blocks.ratio-block.ratio-block__content
*/

.ratio-block {
	position: relative;

	&:before {
		display: block;
		width: 100%;
		padding-bottom: 56.25%;
		content: "";
	}

	&--4x3:before {
		padding-bottom: 75%;
	}
}

.ratio-block__content {
	position: absolute;
	top: 0px;
	max-width: 100%;
	max-height: 100%;
}
