@use 'sass:map';
@use 'sass:list';
@use '../../tools/settings' as ml;

$-templates: ('n');
$-spans: ('a', '1/-1', 's1');
$-col-lines: ('a', -1, 1);
$-row-lines: $-col-lines;
$-auto-tracks: ('mc', 'mnc', 'a', 't1', 1fr);

@for $i from 2 through ml.$gs-columns {
	$-templates: list.append($-templates, 't' + $i);
	$-spans: list.append($-spans, 's' + $i);
	$-col-lines: list.append($-col-lines, $i);
}

ml.$utils-map: map.merge(
	ml.$utils-map,
	ml.$kSsUMCS,
	(
		// columns
		ml.$kBpAll + '_Gtc': ($-templates),
		ml.$kBpAll + '_Gc': ($-spans),
		ml.$kBpAll + '_Gcs': ($-col-lines),
		ml.$kBpAll + '_Gce': ($-col-lines),
		ml.$kBpAll + '_Gatc': ($-auto-tracks),
		// rows
		ml.$kBpAll + '_Gtr': ('n'),
		ml.$kBpAll + '_Gr': ('a', '1/-1'),
		ml.$kBpAll + '_Grs': ($-row-lines),
		ml.$kBpAll + '_Gre': ($-row-lines),
		ml.$kBpAll + '_Gatr': ($-auto-tracks),
		// other
		ml.$kBpAll + '_Gatf': (
			'#{ml.$kBpAll} #{ml.$kArOl}_r', 'c', 'd', 'r;d', 'c;d'
		),
		ml.$kBpAll + '_AllGaps': ([1gg, 4], [1su, 8]),
	)
);
