@use '../../tools/' as ml;
@use 'grid-system';
@use 'other';
@use 'box-alignment';
@use 'box-model';
@use 'spacing';
@use 'text';
@use 'visual';

@each $group, $values in ml.$utils-groups-map {
	@include ml.mk-utils-group($group, $values);
}

@each $util, $values in ml.$utils-map {
	@include ml.mk-util($util, $values);
}
