/*
Background

Group of utilities for managing the background image of DOM node.

Styleguide: core-utils.bg
*/

/*
Bgp

Position of background.

t - top
r - right
b - bottom
c - center
rt - right top
rb - right bottom
lb - left bottom

Styleguide: core-utils.bg.bgp
*/

/*
Bgr

Repeat of background.

n - no repeat
x - repeat on X axis
y - repeat on Y

Styleguide: core-utils.bg.bgr
*/

/*
Bgsz

Background size.

cv - cover. Stretches the background image so that it covers the entire space of the container.
ct - contain. Stretches the background image to the maximum possible size so it does not go beyond the background of the container. The image does not change the proportions.

Styleguide: core-utils.bg.bgsz
*/

/*
Bga

Background attachment. It controls the behavior of the background when scrolling.

f - fixed
l - local

Styleguide: core-utils.bg.bga
*/

.Bgr-n {
	background-repeat: no-repeat;
}

.Bgr-x {
	background-repeat: repeat-x;
}

.Bgr-y {
	background-repeat: repeat-y;
}

.Bgp-c {
	background-position: center;
}

@each $value in $mlu-main-directions {
	$letter: str-slice($value, 1, 1);

	@if $letter != "l" {
		.Bgp-#{$letter} {
			background-position: unquote($value);
		}
	}
}

.Bgp-rt {
	background-position: right top;
}

.Bgp-rb {
	background-position: right bottom;
}

.Bgp-lb {
	background-position: left bottom;
}

.Bgsz-cv {
	background-size: cover;
}

.Bgsz-ct {
	background-size: contain;
}

.Bga-f {
	background-attachment: fixed;
}

.Bga-l {
	background-attachment: local;
}
