@use 'sass:map';

@use '../../tools' as mlu;

/*
Background

Group of utilities for managing the background image of DOM node.

* `Bga-f`
* `Bga-l`

Styleguide: core-utils.bg
*/

/*
Bgp

Position of background.

t - top
r - right
b - bottom
c - center
rt - right top
rb - right bottom
lb - left bottom

Styleguide: core-utils.bg.bgp
*/

/*
Bgr

Repeat of background.

n - no repeat
x - repeat on X axis
y - repeat on Y

Styleguide: core-utils.bg.bgr
*/

/*
Bgsz

Background size.

cv - cover. Stretches the background image so that it covers the entire space of the container.
ct - contain. Stretches the background image to the maximum possible size so it does not go beyond the background of the container. The image does not change the proportions.

Styleguide: core-utils.bg.bgsz
*/

@include mlu.mk-util('Bgr', (
	'n': no-repeat,
	'x': repeat-x,
	'y': repeat-y,
));

$Bgp-map: (
	'c': center,
);

@each $key, $value in mlu.$main-directions {
	@if $key != 'l' {
		$Bgp-map: map.merge($Bgp-map, ($key: $value));
	}
}

$Bgp-map: map.merge($Bgp-map,
(
	'rt': right top,
	'rb': right bottom,
	'lb': left bottom,
));

@include mlu.mk-util('Bgp', $Bgp-map);

@include mlu.mk-util('Bgsz', (
	'cv': cover,
	'ct': contain,
));

@include mlu.mk-util('Bga', (
	'f': fixed,
	'l': local,
));
