@use "sass:map";

@use "../../tools" as mlu;

/*
Border

By default, the text color of the DOM node is used for the border.

* `Bd` \- <span class="Bd">add border with 1px width all around.</span>
* `Bdt` \- add border with 1px width on top.
* `Bdr` \- border right.
* `Bdb` \- border bottom.
* `Bdl` \- border left.
* `Bdx` \- left and rigth.
* `Bdy` \- top and bottom.
* `Bdcl-c` \- remove the separation between table cells.
* `Bdrs50p` \- makes the shape visually round.

Styleguide: core-utils.bd
*/

/*
Bdw

Border width.

0 - remove border
2 - <div class="Bd Bdw2 P2su Mb1gg">2px</div>
1su - <div class="Bd Bdw1su P2su">1 space unit</div>

Styleguide: core-utils.bd.bdw
*/

/*
Bds

Border style. Changes the style of the border on **all** sides at once.

dt - <div class="Bd Bdw1su Bds-dt P2su Mb1gg">dotted</div>
ds - <div class="Bd Bdw1su Bds-ds P2su">dashed</div>

Styleguide: core-utils.bd.bds
*/

$Bdxy-map: (
	"xy": 1px solid,
);

@each $key, $value in mlu.$main-directions {
	$Bdxy-map: map.merge($Bdxy-map, ($key: 1px solid));
}

$Bdxy-map: map.merge($Bdxy-map,
(
	"y": 1px solid,
	"x": 1px solid,
));

@include mlu.mk-Bdxy($Bdxy-map);

@include mlu.mk-util("Bds", "border-style", (
	"dt": dotted,
	"ds": dashed,
));

$Bdw-map: (
	0: 0,
	2: 2px,
	1su: 1su,
);

@include mlu.mk-Bdw($Bdw-map);

.Bdcl-c {
	border-collapse: collapse;
}

.Bdrs50p {
	border-radius: 50%;
}
