/*
Box sizing

Utilities for DOM nodes size management.

* `Maw-fx0` \- fixed width for cards. You can change it in utilities [settings](section-sass-tools.html#kssref-sass-tools-settings-utils).
* `Maw100p`
* `Maw-n`
* `H100p`
* `H0`
* `Mih100vh`
* `Mih100p`
* `Bxz`

Styleguide: core-utils.bxz
*/

@include mlu-mk-Maw((
	"fx0": $mlu-Maw-fx0,
	"100p": 100%,
	"50p": 50%,
	"n": none,
));

@include mlu-mk-util("H", "height", (
	"100p": 100%,
	0: 0,
));

@include mlu-mk-Mih((
	"100p": 100%,
	100vh: 100vh,
));

.Bxz {
	box-sizing: border-box;
}
