@use 'sass:list';
@use 'sass:map';
@use '../../tools' as ml;

/*
Box sizing

Utilities for DOM nodes size management.

* `H100p`
* `H100vh`
* `H0`
* `Mih100vh`
* `Mih100p`
* `Bxz`
* `Bxz-cb`
* `Fl` \- turn on wrapping text on the right.
* `Fl-r` \- turn on wrapping text on the left.

Styleguide: core-utils.bxz
*/

/*
D

Display. Sets the display type.

* `D-tb`
* `D-tbc`
* `D-tbr`
* `D-itb`
* `D-g` \- grid. *Responsive*.

D - block. The DOM node stretches on the full width of the container and creates line breaks before and after. *Responsive*.
D-ib - inline-block. The width of the DOM node depends on the width of the content. Inline-blocks line up in one line like a letters and wrap if they don’t fit. *Responsive*.
D-f - flex. Turns an DOM node into a flex container. Can be used to progressive enhancement the [row](section-core-blocks.html#kssref-core-blocks-row) layouts. Child DOM nodes will be stretched to the full height of the container. By default, child DOM nodes are not wrap to the new line and are compressed in width until they go beyond the line. *Responsive*.
D-if - inline-flex. Combines inline-block and flex container. *Responsive*.
D-n - none. Hides the DOM node as if it is not on the page. *Responsive*.

Markup: ../../../docs/examples/core-utils/visual-formatting/d.hbs

Styleguide: core-utils.bxz.d
*/

/*
-D

Custom display.

-D-f - `D-f` with line breaks.
-D-if - `D-if` with `Fxw-w`.

Styleguide: core-utils.bxz.-d
*/

/*
Maw

Max-width.

* $sm, $md, $lg, $xl \- global keywords with breakpoints values

100p - 100%
n - none

Styleguide: core-utils.bxz.maw
*/

/*
-Cl

Custom clear. It is clearfix utility. Use it with a container whose child DOM nodes have `Fl`.

Markup: ../../../docs/examples/core-utils/visual-formatting/-cl.html

Styleguide: core-utils.bxz.-cl
*/

/*
Ov

Controls content display in case of overflow

Ov - hidden.
Ov-a - auto. Adds a scrollbar if the content does not fit into the container.
Ov.Ovx-a - auto. Scrollbar on X axis.
Ov.Ovy-a - auto. Scrollbar on Y axis.

Markup: ../../../docs/examples/core-utils/visual-formatting/ov.hbs

Styleguide: core-utils.bxz.ov
*/

ml.$utils-map: map.merge(
	ml.$utils-map,
	(
		// display
		ml.$bp-all + '_D': (
			'', 'i', 'ib', 'if', 'g', 'ig', 'n',
		),
		'D': (
			ml.$bp-all + ' @s_f', 'tb', 'tbc', 'tbr', 'itb',
		),
		// sizes
		ml.$bp-all + '_Maw': list.join((100p, 'n'), ml.$global-kw-bp),
		'W': (100p, ml.$bp-all + '_a', ml.$bp-all + '_ih',),
		'H': (100p, 100vh, 0),
		'Mih': (100p, 100vh),
		// other
		'Bxz': ('', 'cb'),
		'Fl': ('', 'r'),
		'Cl': ('', 'r', 'l'),
	)
);

ml.$utils-groups-map: map.merge(
	ml.$utils-groups-map,
	(
		'Overflows': ('', 'a', 's', 'v'),
	)
);

.-D-f {
	display: flex;
	flex-wrap: wrap;
}

.-D-if {
	display: inline-flex;
	flex-wrap: wrap;
}

.-Cl {
	@include ml.cCl;
}

/*
W

Width. You can set width in the variable columns(`c`).

If you specify the width in grid units on one breakpoint, then the width is preserved on all subsequent breakpoints.

* `W-a` \- default DOM node width. Depends on DOM node [display type](#kssref-core-utils-bxz-d). *Responsive*.
* `W-i` \- inherit value from parent DOM node. *Responsive*.
* `W100p` \- for browsers which not support custom properties.
* `W1c..W4c` \- range of available width in variable columns on `xs` and `sm` breakpoints, because on `xs` and `sm`, grid has 4 columns. See grid options in [settings](section-sass-tools.html#kssref-sass-tools-settings-grid).
* `W1c..W12c` \- available width in `c` on all breakpoints, starting with `md`.

Markup: ../../../docs/examples/core-utils/box-sizing/w.html

Styleguide: core-utils.bxz.w
*/

@for $i from 1 through ml.$grid-cols-xs {
	.W#{$i}c {
		@include ml.W($i * 1c, $cols: ml.$grid-cols-xs);
	}
}

// Generate grid utilities W and Ml on breakpoints
@each $key, $value in ml.$grid-cols {
	@for $i from 1 through $value {
		.#{$key}_W#{$i}c {
			@include ml.W($i * 1c, $key, $value);
		}

		// Offsets start generate from ml.$bp-md and if offset flag turn on.
		// '$i < ml.grid-cols-count($gtr-key) - 1' because
		// offset like 'Ml11c' makes no sense
		@if ml.$flag-col-offset and
			ml.bp($key) > ml.bp(ml.$bp-sm) and
			$i < $value - 1 {
			.#{$key}_Ml#{$i}c {
				@include ml.Ml($i * 1c, $key, $value);
			}
		}
	}
}
