/*
Margin

You can set some margins in the grid-gutters(gg). For example margin top - `Mt` and margin bottom - `Mb`. By default, margins in `gg` contain `var()` fallback as [row__col](section-core-blocks.html#kssref-core-blocks-row-row__col)

Vertical margins in grid-gutters are converted to `rems`. This affects accessibility, because margins will be scaled when changing font sizes in the browser settings.

* `M0` \- clear all margins.
* `M-a`
* `Mr0`
* `Mt0`
* `Mt1gg..Mt4gg`

Styleguide: core-utils.margin
*/

/*
Ml

Margin left. You can set left margin in the [grid units](section-concepts.html#kssref-concepts-grid)(gc, gg, gs) or [space units](section-concepts.html#kssref-concepts-su)(su). So you can set the offset for layout elements.

* `Ml-a` \- *Responsive*.
* `Ml0` \- *Responsive*.
* `Ml-2gg..Ml2gg` \- the range includes 2 negative margins and 2 positive.
* `Ml1gg` \- it is needed to return the default column gutter. *Responsive* if `gc` turned on.
* `Ml1gs..Ml10gs` \- available margin in `gs` on all breakpoints, starting with `md`.
* `Ml1gc..Ml10gc` \- if `gc` turned on.

Markup: ../../../docs/examples/core-utils/margin/ml.html

Styleguide: core-utils.margin.ml
*/

/*
Mb

Margin bottom. You can set bottom margin in the grid-gutters(gg) or [space units](section-concepts.html#kssref-concepts-su)(su).

* `Mb0` \- *Responsive*
* `Mb1gg..Mb4gg`
* `Mb2gg` \- *Responsive*
* `Mb1su..Mb4su`
* `Mb6su`
* `Mb8su`
* `Mb-2gg..Mb-1gg`
* `Mb-4su`
* `Mb-6su`
* `Mb-8su`

Styleguide: core-utils.margin.mb
*/

/*
Mx

Margin on X axis. Sets left and right margin.

* `Mx-a` \- centered the DOM node with a given width and `block` [display type](#kssref-core-utils-visual-d). *Responsive*.
* `Mx1gg` \- if `gc` turned on. *Responsive*.
* `Mx-1gg` \- it needed for imposes left and right padding of the outermost columns on the fields of the [wrapper](section-core-blocks.html#kssref-core-blocks-wrapper). This behavior is necessary so that there are no double fields in the layout, using [row__col](section-core-blocks.html#kssref-core-blocks-row-row__col) or `Mx1gg`.
* `Mx-2su..Mx-4su`
* `Mx0` \- *responsive*.

Markup: ../../../docs/examples/core-utils/margin/mx.html

Styleguide: core-utils.margin.mx
*/

$mlu-su-rem: mlu-px2rem($mlu-su);
$mlu-gtr-sm-rem: mlu-px2rem($mlu-gtr-sm);

.M0 {
	margin: 0px;
}

.M-a {
	margin: auto;
}

@each $key, $value in $mlu-main-directions {
	.M#{$key}0 {
		margin-#{$value}: 0;
	}
}

@include mlu-bp-all(".Mb0", 0) {
	margin-bottom: 0px;
}

@include mlu-bp-all(".Mx0", 0) {
	margin-right: 0px;
	margin-left: 0px;
}

@include mlu-bp-all(".Ml-a") {
	margin-left: auto;
}

@include mlu-bp-all(".Mx-a") {
	margin-right: auto;
	margin-left: auto;
}

@for $i from $mlu-My-range through 1 {
	.Mt#{$i}gg {
		@include mlu-mk-gtr($mlu-gtr-sm-rem, $coef: $i, $direct: "t");
	}

	.Mb#{$i}gg {
		@include mlu-mk-gtr($mlu-gtr-sm-rem, $coef: $i, $direct: "b");
	}
}

@include mlu-bp-all(".Mb2gg", 0) {
	@include mlu-mk-gtr($mlu-gtr-sm-rem, $coef: 2, $direct: "b");
}

.Mb-2gg {
	@include mlu-mk-gtr($mlu-gtr-sm-rem, $coef: -2, $direct: "b");
}

.Mb-8su {
	margin-bottom: -$mlu-su-rem * 8;
}

.Mb-6su {
	margin-bottom: -$mlu-su-rem * 6;
}

.Mb-1gg {
	@include mlu-mk-gtr($mlu-gtr-sm-rem, $coef: -1, $direct: "b");
}

.Mb-4su {
	margin-bottom: -$mlu-su-rem * 4;
}

.Mb1su {
	margin-bottom: $mlu-su-rem;
}

.Mb2su {
	margin-bottom: $mlu-su-rem * 2;
}

.Mb3su {
	margin-bottom: $mlu-su-rem * 3;
}

.Mb4su {
	margin-bottom: $mlu-su-rem * 4;
}

.Mb6su {
	margin-bottom: $mlu-su-rem * 6;
}

.Mb8su {
	margin-bottom: $mlu-su-rem * 8;
}

.Ml-2gg {
	@include mlu-mk-gtr($coef: -2, $direct: "l");
}

.Ml2gg {
	@include mlu-mk-gtr($coef: 2, $direct: "l");
}

.Ml-1gg {
	@include mlu-mk-gtr($coef: -1, $direct: "l");
}

.Ml1gg {
	@include mlu-mk-gtr($direct: "l");
}

.Mx-2su {
	margin-right: -$mlu-su * 2;
	margin-left: -$mlu-su * 2;
}

.Mx-3su {
	margin-right: -$mlu-su * 3;
	margin-left: -$mlu-su * 3;
}

.Mx-4su {
	margin-right: -$mlu-su * 4;
	margin-left: -$mlu-su * 4;
}

.Mx-1gg {
	@include mlu-mk-gtr($coef: -1);
}

@if $MLU-FLAG-COL-MARGIN {
	@include mlu-bp-all(".Mx1gg") {
		@include mlu-mk-gtr();
	}

	@include mlu-bp-all(".Ml1gg", 0) {
		@include mlu-mk-gtr($direct: "l");
	}
}
