/*
Misc

* `Rsz-n`

Styleguide: core-utils.misc
*/

/*
-All

Custom `all`.

* `sr` \- soft reset, reset some default browser styles:
	* `margin`
	* `padding`
	* `border`
	* `font`
	* `list-style`

Markup: ../../../docs/examples/core-utils/visual-formatting/-all.html

Styleguide: core-utils.misc.-all
*/

.Rsz-n {
	resize: none;
}

.-All-sr {
	margin: 0;
	padding: 0;
	font: inherit;
	list-style: none;
	border: 0;
}
