@use 'sass:map';
@use '../../tools/settings' as ml;

/*
Misc

* `Rsz-n`

Styleguide: core-utils.misc
*/

/*
-All

Custom `all`.

* `sr` \- soft reset, reset some default browser styles:
	* `margin`
	* `padding`
	* `border`
	* `font`
	* `list-style`

Markup: ../../../docs/examples/core-utils/visual-formatting/-all.html

Styleguide: core-utils.misc.-all
*/

ml.$utils-map: map.merge(
	ml.$utils-map,
	(
		'Rsz': (ml.$tUKwa),
		'-All': ('sr'),
	)
);
