/*
Padding

* `P0` \- clear all paddings.
* `P1su..P4su` \- creates padding all around.
* `P1gg`
* `Pt1gg..Pt2gg` \- works similarly [Mt1gg](#kssref-core-utils-margin)
* `Pb1gg..Pb2gg`

Styleguide: core-utils.padding
*/

/*
Px

Padding on X axis. Sets left and right padding.

* `Px1gg`

Styleguide: core-utils.padding.px
*/

$mlu-P-map: (
	"xy0": 0,
);

@for $i from 1 through $mlu-P-range {
	$value: $i * 1su;
	$mlu-P-map: map-merge($mlu-P-map, ("xy" + $value: $value));
}

$mlu-P-map: map-merge($mlu-P-map,
(
	"xy1gg": 1gg,
	"t1gg": 1gg,
	"t2gg": 2gg,
	"b1gg": 1gg,
	"b2gg": 2gg,
	"l1gg": 1gg,
	"x1gg": 1gg,
));

@include mlu-mk-P($mlu-P-map);
