/*
Position

* `Pos`
* `Pos-a` - *responsive*
* `Pos-f`
* `T0`
* `R0`
* `B0`
* `L0`

Styleguide: core-utils.pos
*/

/*
Z

`z-index`.

0..3 - `z-index` available range. You can change it in utilities [settings](section-sass-tools.html#kssref-sass-tools-settings-utils).
-1 - move DOM node under parent node.
max - max value. By default: `9999`.

Styleguide: core-utils.pos.z
*/

/*
mXy

X and Y coordinate axes. Change `top` or `bottom` and `right` or `left`.

0 - set T0, R0, B0 and L0.
50p - centered DOM node with `Pos-a` or `Pos-f` using `T50p`, `L50p` and `transform`.

Styleguide: core-utils.pos.xy
*/

@include mlu-mk-util("Pos", "position", (
	"": relative,
	"a_all": absolute,
	"f": fixed,
));

@include mlu-mk-Xy((
	"t0": 0,
	"r0": 0,
	"b0": 0,
	"l0": 0,
	"xy0": 0,
));

.mXy50p {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

$mlu-Z-map: (
	"max": $mlu-Z-max,
	-1: -1,
);

@for $i from 0 to $mlu-Z-range {
	$mlu-Z-map: map-merge($mlu-Z-map, ($i: $i));
}

@include mlu-mk-util("Z", "z-index", $mlu-Z-map);
