@use "sass:list";
@use "sass:map";
/*
Position

* `Pos`
* `Pos-s`
* `Pos-a` - *responsive*
* `Pos-f`
* `T0`, `R0`, `B0`, `L0`
* `T100p`, `R100p`, `B100p`, `L100p`
* `mX0` - set R0 and L0
* `mY0` - set T0 and B0

Styleguide: core-utils.pos
*/

/*
Z

`z-index`.

0..3 - `z-index` available range. You can change it in utilities [settings](section-sass-tools.html#kssref-sass-tools-settings-utils).
-1 - move DOM node under parent node.
max = 9999 - max value.

Styleguide: core-utils.pos.z
*/

/*
mXy

X and Y coordinate axes. Change `top` or `bottom` and `right` or `left`.

0 - set T0, R0, B0 and L0.
50p - centered DOM node with `Pos-a` or `Pos-f` using `T50p`, `L50p` and `transform`.

Styleguide: core-utils.pos.xy
*/

@include mlu-mk-util("Pos", "position", (
	"": relative,
	"s": static,
	"a_all": absolute,
	"f": fixed,
));

$mlu-Xy-map: ();

@each $dir in list.join(map.keys($mlu-main-directions), ("x", "y", "xy")) {
	$mlu-Xy-map: map.merge($mlu-Xy-map, ($dir + 0: 0));
}

@each $dir in map.keys($mlu-main-directions) {
	$mlu-Xy-map: map.merge($mlu-Xy-map, ($dir + "100p": 100%));
}

@include mlu-mk-Xy($mlu-Xy-map);

.mXy50p {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

$mlu-Z-map: (
	"max": $mlu-Z-max,
	-1: -1,
);

@for $i from 0 to $mlu-Z-range {
	$mlu-Z-map: map.merge($mlu-Z-map, ($i: $i));
}

@include mlu-mk-Z($mlu-Z-map);
