@use 'sass:map';
@use '../../tools/settings' as ml;

/*
Position

* `Pos`
* `Pos-s`
* `Pos-a` - *responsive*
* `Pos-f`
* `T0`, `R0`, `B0`, `L0`
* `T100p`, `R100p`, `B100p`, `L100p`
* `-X0` - set R0 and L0
* `-Y0` - set T0 and B0

Styleguide: core-utils.pos
*/

/*
Z

`z-index`.

0..3 - `z-index` available range. You can change it in utilities [settings](section-sass-tools.html#kssref-sass-tools-settings-utils).
-1 - move DOM node under parent node.

Styleguide: core-utils.pos.z
*/

/*
-Xy

X and Y coordinate axes. Change `top` or `bottom` and `right` or `left`.

0 - set T0, R0, B0 and L0.
50p - centered DOM node with `Pos-a` or `Pos-f` using `T50p`, `L50p` and `transform`.

Styleguide: core-utils.pos.xy
*/

ml.$utils-groups-map: map.merge(
	ml.$utils-groups-map,
	(
		ml.$bp-all + '_Offsets': (0, 'a', 100p, 50p),
	)
);

ml.$utils-map: map.merge(
	ml.$utils-map,
	(
		ml.$bp-all + '_Pos': ('', 'a', 'f', 's', 'st'),
		'Z': ('a', [-1, 5]),
	)
);
