@use 'sass:map';
@use '../../tools/settings' as ml;

/*
Font

* `F-ih`
* `Fnf-ss0` \- sans serif system fonts stack. Sets [here](section-sass-tools.html#kssref-sass-tools-settings-utils).
* `Fnw100..Fnw900`
* `Fnst` \- *italic*.
* `Fnst-n` \- normal font style.
* `Fnst-o`
* `Fns-ih`

Styleguide: core-utils.f
*/

/*
Text

Group of utilities that manage the display of text.

* `C-i`
* `Whs-n`
* `Whs-p`
* `Lnh-n` \- line-height normal.
* `Lnh1`

Styleguide: core-utils.text
*/

/*
Txa

Text alignment.

initial - left *Responsive*.
c - center *Responsive*.
r - right *Responsive*.

Styleguide: core-utils.text.ta
*/

/*
Txt

Text transform.

initial - UPPERCASE.
l - lowercase.
n - remove text transform.
c - Each Word Begins With A Capital Letter.

Styleguide: core-utils.text.tt
*/

/*
Txd

Text decoration.

initial - remove text decoration.
u - <u>underline</u>.
l - ~~strikethrough~~.
o - overline.

Styleguide: core-utils.text.td
*/

/*
Dir

l - left to right *Responsive* only.
r - right to left *Responsive*.

Styleguide: core-utils.text.dir
*/

/*
-Txo

Custom text overflow. Removes line breaks in the text and displays ellipsis at the end of the line if the text does not fit in the container. DOM node with `-Txo` should have a width limit.

Markup: ../../../docs/examples/core-utils/text/-tov.html

Styleguide: core-utils.text.-tov
*/

ml.$utils-map: map.merge(
	ml.$utils-map,
	ml.$kSsUMCS,
	(
		'Fn': ('ih'),
		'Fnf': ('mUss'),
		'Fnw': ([100, 900, 100],),
		'Fnst': ('', 'n', 'o'),
		'Fns': ('ih'),
		ml.$kBpAll + '_Txa': ('', '#{ml.$kBpAll} #{ml.$kArOl}_l', 'r', 'j'),
		'Txd': ('', 'u', 'lt', 'o'),
		'Txt': ('', 'n', 'l', 'c'),
		'-Txo': (''),
		'C': ('ih'),
		'Lnh': ('n', '=1'),
		'Whs': ('', 'nm', 'p', 'pw', 'pl'),
	)
);
