@use 'sass:map';
@use '../../tools' as ml;

/*
Background

Group of utilities for managing the background image of DOM node.

* `Bga-f`
* `Bga-l`

Styleguide: core-utils.bg
*/

/*
Bgp

Position of background.

t - top
r - right
b - bottom
c - center
r;t - right top
r;b - right bottom
l;b - left bottom

Styleguide: core-utils.bg.bgp
*/

/*
Bgr

Repeat of background.

nr - no repeat
rx - repeat on X axis
ry - repeat on Y

Styleguide: core-utils.bg.bgr
*/

/*
Bgs

Background size.

* `Bgsz100p`

cv - cover. Stretches the background image so that it covers the entire space of the container.
ct - contain. Stretches the background image to the maximum possible size so it does not go beyond the background of the container. The image does not change the proportions.

Styleguide: core-utils.bg.bgs
*/

/*
Border

By default, the text color of the DOM node is used for the border.

* `Bd` \- <span class="Bd">add border with 1px width all around.</span>
* `Bdt` \- add border with 1px width on top.
* `Bdr` \- border right.
* `Bdb` \- border bottom.
* `Bdl` \- border left.
* `Bdx` \- left and rigth.
* `Bdy` \- top and bottom.
* `Bdcl-c` \- remove the separation between table cells.
* `Bdrs50p` \- makes the shape visually round.

Styleguide: core-utils.bd
*/

/*
Bdw

Border width.

0 - remove border. *Responsive*.
2 - <div class="Bd Bdw2 P2su Mb1gg">2px</div>
1su - <div class="Bd Bdw1su P2su">1 space unit</div>

Styleguide: core-utils.bd.bdw
*/

/*
Bds

Border style. Changes the style of the border on **all** sides at once.

dt - <div class="Bd Bdw1su Bds-dt P2su Mb1gg">dotted</div>
ds - <div class="Bd Bdw1su Bds-ds P2su Mb1gg">dashed</div>
s - <div class="Bd Bdw1su xl_Bds-s P2su">solid</div>

Styleguide: core-utils.bd.bds
*/

/*
Visual formatting

* `Ol0`
* `O0`
* `Vs`

Styleguide: core-utils.visual
*/

ml.$utils-map: map.merge(
	ml.$utils-map,
	(
		// background
		'Bgr': ('nr', 'rx', 'ry'),
		ml.$kBpAll + '_Bgs': (100p, ml.$kUvKA),
		'Bga': ml.$kUvKA,
		'Bgp': (ml.$kUvKA, 'r;t', 'r;b', 'l;b'),
		// border
		'Borders': ml.$kBpAll + '_',
		ml.$kBpAll + '_BdWidth': (0, 2, 1su),
		'BdStyle': ('d', 'ds', '#{ml.$kBpAll} #{ml.$kArOl}_s'),
		'Bdcl': (''),
		'Bdrd': (50p),
		// other
		'Ol': (0),
		ml.$kBpAll + '_O': (0, 1),
		ml.$kBpAll + '_Vs': ('', 'c', 'v'),
	)
);
