@use 'sass:map';
@use '../../tools' as ml;

/*
Background

Group of utilities for managing the background image of DOM node.

* `Bga-f`
* `Bga-l`

Styleguide: core-utils.bg
*/

/*
Bgp

Position of background.

t - top
r - right
b - bottom
c - center
r;t - right top
r;b - right bottom
l;b - left bottom

Styleguide: core-utils.bg.bgp
*/

/*
Bgr

Repeat of background.

nr - no repeat
rx - repeat on X axis
ry - repeat on Y

Styleguide: core-utils.bg.bgr
*/

/*
Bgsz

Background size.

* `Bgsz100p`

cv - cover. Stretches the background image so that it covers the entire space of the container.
ct - contain. Stretches the background image to the maximum possible size so it does not go beyond the background of the container. The image does not change the proportions.

Styleguide: core-utils.bg.bgsz
*/

/*
Visual formatting

* `Ol0`
* `Op0`
* `V`

Styleguide: core-utils.visual
*/

/*
-V

Custom visibility.

-V-vh - visually hides the DOM node but leaves it accessible to the screen readers and robots. For comparison `D-n` hides the DOM node from all. *Responsive*.

Markup: ../../../docs/examples/core-utils/visual-formatting/-v.hbs

Styleguide: core-utils.visual.-v
*/

ml.$utils-map: map.merge(
	ml.$utils-map,
	(
		'Bgr': ('nr', 'rx', 'ry'),
		ml.$bp-all + '_Bgsz': (100p, ml.$tUKwa),
		'Bga': ml.$tUKwa,
		'Bgp': (ml.$tUKwa, 'r;t', 'r;b', 'l;b'),
		'Ol': (0),
		ml.$bp-all + '_Op': (0, 1),
		ml.$bp-all + '_V': ('', 'c', 'v'),
	)
);

@include ml.bp-all('.-V-vh') {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0px;
	overflow: hidden;
	white-space: nowrap;
	border: 0px;
	clip: rect(0 0 0 0);
}
