/*
Reset

Блок для сброса стилей у компонента.

Markup:
<ul class="reset">
	<li>1</li>
	<li>2</li>
	<li>3</li>
</ul>

Styleguide: core-blocks.reset
*/

.reset {
	margin: 0px;
	padding: 0px;
	font: inherit;
	list-style: none;
	border: 0px;
}
