/*
Reset

Block for reset some default browser styles. It reset:
* `margin`
* `padding`
* `border`
* `font`
* `list-style`

Markup: ../../../docs/examples/core-blocks/reset/reset.html

Styleguide: core-blocks.reset
*/

.reset {
	margin: 0px;
	padding: 0px;
	font: inherit;
	list-style: none;
	border: 0px;
}
