<div style="width: 240px; height: 120px;" cellpadding="5" class="test-row Mb3gg {{modifier_class}}">
	<table style="width: 312px; height: 176px;" cellpadding="5" cellspacing="5" border="2">
			<tr>
					<td>Sometimes</td>
					<td>the same</td>
					<td>is different</td>
			</tr>
			<tr>
					<td>10</td>
					<td>11</td>
					<td>12</td>
			</tr>
			<tr>
					<td>10</td>
					<td>Sometimes the same</td>
					<td>is different</td>
			</tr>
	</table>
</div>