// At-rules
//
// Settings for media queries and other CSS at-rules.
//
// $at-rules - main map with settings.
//
// Styleguide: sass-tools.settings.at_rules

@use 'sass:map';
@use 'sass:list';
@use 'sass:string';
@use 'utils' as mlu;

// Breakpoints
//
// Breakpoint names and values.
//
// $mlu-bp-xs = 0 - `xs`
// $mlu-bp-sm = 520px - `sm`
// $mlu-bp-md = 760px - `md`
// $mlu-bp-lg = 960px - `lg`
// $mlu-bp-xl = 1168px - `xl`
//
// Styleguide: sass-tools.settings.at_rules.breakpoints

$bp-xs: 'xs' !default;
$bp-sm: 'sm' !default;
$bp-md: 'md' !default;
$bp-lg: 'lg' !default;
$bp-xl: 'xl' !default;
$bp-all: 'BpAll' !default;
$kArOnly: 'ArOnly' !default;
$kArSt: 'ArSt' !default;
$kArStOnly: 'ArStOnly' !default;

$at-rules-data: (
	'media': (
		'alias': '',
		'types': (
			'prn': print,
			'scr': screen,
		),
		'custom': (
		),
	),
	'supports': (
		'alias': 's',
		'custom': (
		),
	),
) !default;

$at-rules-cfg: (
	'abbr-separators': (
	),
	'tokens': (
		'str-value': mlu.$tUSv,
		'num-value': mlu.$tUNv,
		'or': mlu.$tSOr,
		'and': mlu.$tSAnd,
		'custom': mlu.$tSCs,
		'not': mlu.$tSNot,
		'ar': '@',
		'this-util': mlu.$tSTu,
		'greater-equal': '>=',
		'less-equal': '<=',
		'greater': '>',
		'less': '<',
	),
	'breakpoints': (
		$bp-sm: 520px,
		$bp-md: 760px,
		$bp-lg: 960px,
		$bp-xl: 1168px,
	),
	'all-breakpoints': (
		$bp-xs: 0,
	),
	'keywords': (
		$bp-all: 'breakpoints',
		$kArOnly: null,
		$kArStOnly: null,
		$kArSt: null,
	),
) !default;

$-general-registry: ();

@each $key, $value in map.get(mlu.$utils-data, 'general', 'registry') {
	$-general-registry: map.set(
		$-general-registry,
		string.to-lower-case($key),
		$value
	);
}

mlu.$utils-data: map.set(
	mlu.$utils-data,
	'media',
	(
		'registry': map.deep-merge(
			$-general-registry,
			(
				'hv': hover,
				'ahv': any-hover,
				'pn': pointer,
				'apn': any-pointer,
				'cg': color-gamut,
				'fc': forced-colors,
				'dm': display-mode,
				'ori': orientation,
				'prfcs': prefers-color-scheme,
				'prfrm': prefers-reduced-motion,
				'mn': (
					'properties': monochrome,
					'value-type': mlu.$util-type-unitless,
				),
				'gd': (
					'properties': grid,
					'value-type': mlu.$util-type-unitless,
				),
				'c': (
					'properties': color,
					'value-type': mlu.$util-type-unitless,
				),
				'rsl': (
					'properties': resolution,
					'value-type': list.set-nth(mlu.$util-type-default, 1, 'resolution'),
				),
			),
		),
		'map': (
			'pn': (
				'c': coarse,
				'f': fine,
			),
			'apn': (
				'c': coarse,
				'f': fine,
			),
			'cg': (
				'p': p3,
				's': 'srgb',
				'r': rec2020,
			),
			'dm': (
				'': fullscreen,
				's': standalone,
				'mu': minimal-ui,
				'b': browser,
			),
			'ori': (
				'': landscape,
				'p': portrait,
			),
			'prfcs': (
				'': dark,
				'l': light,
			),
			'rsl': (
				'i': infinite,
			),
		),
	),
);

$at-rules-cfg: map.merge(
	$at-rules-cfg,
	'all-breakpoints',
	map.get($at-rules-cfg, 'breakpoints')
);

$at-rules: () !default;
$at-rules-conf: () !default;

mlu.$utils-data: mlu.merge-utils-data(mlu.$utils-data, $at-rules, 'media');

$at-rules-data: map.deep-merge($at-rules-data, $at-rules);
$at-rules-cfg: map.deep-merge($at-rules-cfg, $at-rules-conf);

$breakpoints: map.get($at-rules-cfg, 'breakpoints');
mlu.$utils-data: map.set(mlu.$utils-data, 'general', 'variables', $breakpoints);

$tASv: map.get($at-rules-cfg, 'tokens', 'str-value');
$tANv: map.get($at-rules-cfg, 'tokens', 'num-value');
$tAOr: map.get($at-rules-cfg, 'tokens', 'or');
$tAAnd: map.get($at-rules-cfg, 'tokens', 'and');
$tANot: map.get($at-rules-cfg, 'tokens', 'not');
$tACs: map.get($at-rules-cfg, 'tokens', 'custom');
$tAAr: map.get($at-rules-cfg, 'tokens', 'ar');
$tATu: map.get($at-rules-cfg, 'tokens', 'this-util');
$tAGte: map.get($at-rules-cfg, 'tokens', 'greater-equal');
$tALse: map.get($at-rules-cfg, 'tokens', 'less-equal');
$tAGt: map.get($at-rules-cfg, 'tokens', 'greater');
$tALs: map.get($at-rules-cfg, 'tokens', 'less');

$at-rules-cfg: map.set(
	$at-rules-cfg,
	'abbr-separators',
	list.join(
		(
			mlu.$tUSv,
			$tAGte,
			$tALse,
			$tAGt,
			$tALs,
		),
		map.get($at-rules-cfg, 'abbr-separators')
	)
);

$abbr-separators: ();

@each $item in list.join(
	map.get($at-rules-cfg, 'abbr-separators'),
	map.get(mlu.$utils-config, 'abbr-separators'),
) {
	@if $item != '' {
		$abbr-separators: list.append($abbr-separators, $item);
	}
}
