// Flags
//
// Flags for core compilation.
//
// $mlu-flag-calc-fallback = false - turn on CSS `calc()` fallback for grid utils on `md+` breakpoints. Type: `bool`.
// $mlu-flag-col-offset = true - turn on generation grid columns offset [utils](section-core-utils.html#kssref-core-utils-margin-ml). Type: `bool`.
// $mlu-flag-css-vars = 1 - turn on usage of [CSS variables](section-core-styles.html#kssref-core-styles-css_vars).
// Allowable values: <br>
// `false` \- turn off <br>
// `1` \- turn on with fallback <br>
// `2` \- turn on. With this value, most fallbacks will be disabled for browsers that don't support custom properties. Be careful. <br>
// $mlu-flag-flex-pe = false - turn on utilities with progressive enhancement for flexbox.
//
// Styleguide: sass-tools.settings.flags

$mlu-flag-calc-fallback: false !default;
$mlu-flag-col-offset: true !default;
$mlu-flag-css-vars: 1 !default;
$mlu-flag-flex-pe: false !default;
