// General
//
// Settings that affect the work of the mixins, functions and all toolkit.
//
// $mlu-browser-font-size = 16px - font size for converting [px to rem](section-sass-tools.html#kssref-sass-tools-functions-px2rem). 16px used because is default font size in settings of most browsers.
// $mlu-su-cf = 4 - value of [space unit](section-concepts.html#kssref-concepts-su). Use this factor to change su and for calculations.
// $mlu-su = 4px - space unit in px. Depends on `$mlu-su-cf`. Use this variable to set the values in px.
// $mlu-base-font-size = $mlu-browser-font-size - base font size on website. Is used for `rems` fallback in [row elements](section-core-blocks.html#kssref-core-blocks-row) and in [mlu-px2em](section-sass-tools.html#kssref-sass-tools-functions-px2em) default font size.
// $mlu-main-directions - Map with directions for css properties and values generation. The keys are the first letters of the directions, and the values are directions. <br> Example: `("t": top)`.
// $mlu-breakpoints - map with main breakpoints. First breakpoint is `$mlu-bp-sm`.
//
// Styleguide: sass-tools.settings.general

$mlu-browser-font-size: 16px !default;

$mlu-su-cf: 4 !default;

$mlu-su: $mlu-su-cf * 1px;

$mlu-base-font-size: $mlu-browser-font-size !default;

$mlu-main-directions: (
	"t": top,
	"r": right,
	"b": bottom,
	"l": left,
) !default;

// Breakpoints
//
// Breakpoint names and values.
//
// $mlu-bp-xs = 0 - `xs`
// $mlu-bp-sm = 520px - `sm`
// $mlu-bp-md = 760px - `md`
// $mlu-bp-lg = 960px - `lg`
// $mlu-bp-xl = 1168px - `xl`
//
// Styleguide: sass-tools.settings.general.breakpoints

$mlu-bp-xs: "xs" !default;
$mlu-bp-sm: "sm" !default;
$mlu-bp-md: "md" !default;
$mlu-bp-lg: "lg" !default;
$mlu-bp-xl: "xl" !default;

$mlu-breakpoints: (
	$mlu-bp-sm: 520px,
	$mlu-bp-md: 760px,
	$mlu-bp-lg: 960px,
	$mlu-bp-xl: 1168px,
) !default;
