@use 'sass:map';

// General
//
// Settings that affect the work of the mixins, functions and all toolkit.
//
// $mlu-browser-font-size = 16px - font size for converting [px to rem](section-sass-tools.html#kssref-sass-tools-functions-px2rem). 16px used because is default font size in settings of most browsers.
// $mlu-su-cf = 4 - value of [space unit](section-concepts.html#kssref-concepts-su). Use this factor to change su and for calculations.
// $mlu-su = 4px - space unit in px. Depends on `$mlu-su-cf`. Use this variable to set the values in px.
// $mlu-base-font-size = $mlu-browser-font-size - base font size on website. Is used for `rems` fallback in [row elements](section-core-blocks.html#kssref-core-blocks-row) and in [mlu-px2em](section-sass-tools.html#kssref-sass-tools-functions-px2em) default font size.
// $mlu-main-directions - Map with directions for css properties and values generation. The keys are the first letters of the directions, and the values are directions. <br> Example: `('t': top)`.
//
// Styleguide: sass-tools.settings.general

$browser-font-size: 16px !default;

$su-cf: 4 !default;

$base-font-size: $browser-font-size !default;

$general-data: (
	'main-directions': (
		't': top,
		'r': right,
		'b': bottom,
		'l': left,
	),
	'custom-unit-values': (
		'su': (
			'px': $su-cf * 1px,
			'rem': (1px / $browser-font-size * $su-cf) * 1rem,
		),
	),
	'units': (
		'css': (
			'px': 1px,
			'cm': 1cm,
			'mm': 1mm,
			'q': 1q,
			'rem': 1rem,
			'%': 1%,
			'fr': 1fr,
			'ch': 1ch,
			'pc': 1pc,
			'in': 1in,
			'em': 1em,
			'pt': 1pt,
			'ex': 1ex,
			'vw': 1vw,
			'vh': 1vh,
			'vmin': 1vmin,
			'vmax': 1vmax,
			'deg': 1deg,
			'turn': 1turn,
			'grad': 1grad,
			'rad': 1rad,
			's': 1s,
			'ms': 1ms,
			'hz': 1hz,
			'khz': 1khz,
			'dpi': 1dpi,
			'dpcm': 1dpcm,
			'dppx': 1dppx,
			'x': 1x,
		),
		'custom': (
			'': 1,
			'gg': 1gg,
			'su': 1su,
			'e': 1e,
			'p': 1p,
			'r': 1r,
			'i': 1i,
			'c': 1c,
		),
	),
) !default;

$general: () !default;

$general-data: map.deep-merge($general-data, $general);

$su: map.get($general-data, 'custom-unit-values', 'su', 'px');
$su-rem: map.get($general-data, 'custom-unit-values', 'su', 'rem');

$main-directions: map.get($general-data, 'main-directions');

$units-all: map.merge(
	map.get($general-data, 'units', 'css'),
	map.get($general-data, 'units', 'custom'),
);
