@use "sass:map";
@use "sass:list";

@use "css-vars" as mlu;

// Utilities
//
// Settings affecting the values and generation of the core utilities.
//
// $mlu-Maw-fx0 = 288px - fixed width for cards. This is value for [Maw-fx0](section-core-utils.html#kssref-core-utils-bxz-maw) utility.
// $mlu-My-range = 4 - count of [Mt](section-core-utils.html#kssref-core-utils-margin) and [Mb](section-core-utils.html#kssref-core-utils-margin-mb) utilities.
// $mlu-P-range = 4 - count of [P](section-core-utils.html#kssref-core-utils-padding) utilities.
// $mlu--Gg-range = 5 - number of [-Gg](section-core-utils.html#kssref-core-utils-custom-gg) utility values in `su`.
// $mlu-Z-range = 4 - [z-index](section-core-utils.html#kssref-core-utils-pos-z) range. Counted from zero.
// $mlu-Z-max = 9999 - `z-index` max value.
// $mlu-Ord-range = 4 - [order](section-core-utils.html#kssref-core-utils-flex) range. Counted from -1.
// $mlu-Ff-ss0 - sans serif font stack contains default fonts on different OS.
// $mlu-Ff-m0 - monospace font stack contains default fonts on different OS.
// $mlu-Trsdu-df0 = 0.3s - default [transition](section-core-utils.html#kssref-core-utils-anim) duration.
// $mlu-util-states-psd-cls - map with abbreviations of pseudo-classes for utilities.
// $mlu-util-states-psd-elm - map with pseudo-elements abbreviations for utilities.
// $mlu-util-states - map with abbreviations of utility state names. Maps of pseudo-classes and pseudo-elements merge into it.
//
// Styleguide: sass-tools.settings.utils

$cGg-range: 5 !default;

$Z-max: 9999 !default;
$Z-range: 4 !default;

$Maw-fx0: 288px !default;

$My-range: 4 !default;

$P-range: 4 !default;

$Ord-range: 4 !default;

// stylelint-disable
$Ff-ss0: (
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Oxygen,
	Cantarell,
	Ubuntu,
	"Fira Sans",
	"Droid Sans",
	"Helvetica Neue",
	Arial,
	sans-serif
) !default;

$Ff-m0: (
	SFMono-Regular,
	Menlo,
	Monaco,
	Consolas,
	"Liberation Mono",
	"Courier New",
	monospace
) !default;
// stylelint-enable

$Trsdu-df0: 0.3s !default;

$utils-map: (
	"-Gcc": mlu.$var-grid-cols,
	"-Gg": mlu.$var-gg,
	"Pos": "position",
	"mX": null,
	"mY": null,
	"mXy": null,
	"Z": "z-index",
	"D": "display",
	"Fxd": "flex-direction",
	"Fxw": "flex-wrap",
	"Ac": "align-content",
	"As": "align-self",
	"Ai": "align-items",
	"Jc": "justify-content",
	"Ord": "order",
	"Fl": "float",
	"Bxz": "box-sizing",
	"W": "width",
	"Maw": "max-width",
	"H": "height",
	"Mih": "min-height",
	"M": "margin",
	"P": "padding",
	"Ov": "overflow",
	"C": "color",
	"F": "font",
	"Fw": "font-weight",
	"Fz": "font-size",
	"Ff": "font-family",
	"Fs": "font-style",
	"Lh": "line-height",
	"Dir": "direction",
	"Lts": "letter-spacing",
	"Whs": "white-space",
	"Ta": "text-align",
	"Tt": "text-transform",
	"Td": "text-decoration",
	"Tsh": "text-shadow",
	"Va": "vertical-align",
	"Bgc": "background-color",
	"Bgr": "background-repeat",
	"Bgp": "background-position",
	"Bgsz": "background-size",
	"Bga": "background-attachment",
	"Ol": "outline",
	"Bxsh": "box-shadow",
	"Trf": "transform",
	"V": "visibility",
	"Cur": "cursor",
	"Op": "opacity",
	"Bd": "border",
	"Bdc": "border-color",
	"Bds": "border-style",
	"Bdw": "border-width",
	"Bdrs": "border-radius",
	"Trs": "transition",
	"Anim": "animation",
	"Rsz": "resize",
) !default;

$utils-extend: (
) !default;

$utils-map: map.merge($utils-map, $utils-extend);

$utils-directed: (
	"M",
	"P",
	"Bd",
	"mX",
	"mY",
	"mXy",
) !default;

$utils-directed-extend: (
) !default;

$utils-directed: list.join($utils-directed, $utils-directed-extend);

// Maps with utilities states
//
// ```scss
//$mlu-util-states-psd-cls: (
//		"h": "hover",
//		"f": "focus",
//		"fw": "focus-within",
//		"h-f": ("hover", "focus"),
//		"a": "active",
//		"vl": "valid",
//		"iv": "invalid",
//);
//
//$mlu-util-states-psd-elm: (
//		"bf": "before",
//		"af": "after",
//		"fln": "first-line",
//		"flt": "first-letter",
//);
//
//$mlu-util-states: (
//		"nojs": null,
//);
// ```
//
// Styleguide: sass-tools.settings.utils.states

$util-states-psd-cls: (
	"h": "hover",
	"f": "focus",
	"fw": "focus-within",
	"a": "active",
	"vl": "valid",
	"iv": "invalid",
	"h-f": ("hover", "focus"),
) !default;

$util-states-psd-elm: (
	"bf": "before",
	"af": "after",
	"fln": "first-line",
	"flt": "first-letter",
) !default;

$util-states: (
	"nojs": null,
) !default;

$util-states: map.merge($util-states, $util-states-psd-cls);

$util-states: map.merge($util-states, $util-states-psd-elm);
