@use 'sass:map';

@use '../../tools/settings' as ml;

/*
Normalize

Simple css normalization that correcting old browsers bugs and not affecting other styles.

Styleguide: core-styles.normalize
*/

//stylelint-disable

@if map.get(ml.$general-cfg, 'base-styles') {
	// Prevent adjustments of font size after orientation changes in iOS
	html {
		-webkit-text-size-adjust: 100%;
	}

	// Box-sizing should be border-box by default. (c) CSSWG
	@if ml.$base-border-box {
		html {
			box-sizing: border-box;
		}

		*,
		*::before,
		*::after {
			box-sizing: inherit;
		}
	}

	// Add the ability to set border only with `Bd*w` utils
	@if map.get(ml.$general-cfg, 'base-styles', 'reset-border') {
		*,
		*::before,
		*::after {
			border: 0 solid;
		}
	}

	body {
		margin: 0px;
	}

	// Render 'main' tag consistently in IE.
	main {
		display: block;
	}

	/*
	1. Add the correct height in Firefox.
	2. Show the overflow in IE
	3. Correct the inheritance of border color in Firefox
	*/
	hr {
		height: 0; // 1
		overflow: visible; // 2
		color: inherit; // 3
	}

	// Add the correct font weight in Edge and Safari.
	b,
	strong {
		font-weight: bolder;
	}

	// Correct the inheritance and scaling of font size in all browsers
	code,
	kbd,
	samp,
	pre {
		font-family: monospace, monospace;
	}

	// Add the correct text decoration in IE and Safari
	abbr[title] {
		text-decoration: underline dotted;
	}

	// Prevent 'sub' and 'sup' elements from affecting the line height in all browsers
	@if map.get(ml.$general-cfg, 'base-styles', 'sup-sub-no-v-align') {
		sub,
		sup {
			line-height: 0;
			position: relative;
			vertical-align: baseline;
			top: -.4em;
		}

		sub {
			top: .3em;
		}
	}

	/**
	1. Remove text indentation from table contents in Chrome and Safari
	2. Correct table border color inheritance in all Chrome and Safari
	*/
	table {
		text-indent: 0; // 1
		border-color: inherit; // 2
	}

	@if map.get(ml.$general-cfg, 'base-styles', 'embeds-v-align') {
		img, svg, video, canvas, audio, iframe, embed, object {
			vertical-align: bottom;

			@if map.get(ml.$general-cfg, 'base-styles', 'embeds-block') {
				display: block;
			}
		}
	}

	source {
		display: none;
	}

	@if map.get(ml.$general-cfg, 'base-styles', 'embeds-aspect-ratio') {
		img,
		svg,
		canvas,
		video {
			max-width: 100%;
			height: auto;
		}
	}

	@if map.get(ml.$general-cfg, 'base-styles', 'svg-fill-cur-color') {
		svg:not([fill]) {
			fill: currentColor;
		}
	}

	// Add the correct display in IE
	[hidden],
	template {
		display: none;
	}

	// Correct the text wrapping in IE.
	legend {
		display: table;
		max-width: 100%;
		white-space: normal;

		@if not ml.$base-border-box {
			box-sizing: border-box;
		}
	}

	// Add the correct display in Chrome and Safari.
	summary {
		display: list-item;
	}

	// Add the correct vertical alignment in Chrome and Firefox
	progress {
		vertical-align: baseline;
	}

	/**
	1. Change the font styles in all browsers.
	2. Remove the margin in Firefox and Safari.
	*/
	@if map.get(ml.$general-cfg, 'base-styles', 'forms-normalize') {
		button,
		input,
		optgroup,
		select,
		textarea {
			font-family: inherit; // 1
			font-size: 100%; // 1
			margin: 0; // 2

			@if map.get(ml.$general-cfg, 'base-styles', 'reset') {
				color: inherit;
				line-height: inherit;
			}
		}
	}

	// Remove the inheritance of text transform in IE.
	button {
		text-transform: none;
	}

	// Correct the inability to style clickable types in iOS and Safari.
	button,
	[type='button'],
	[type='reset'],
	[type='submit'] {
		-webkit-appearance: button;
	}

	/*
	1. Correct the odd appearance in Chrome and Safari.
	2. Correct the outline style in Safari.
	*/
	[type='search'] {
		-webkit-appearance: textfield; // 1
		outline-offset: -2px; // 2
	}

	// Remove the default vertical scrollbar in IE
	textarea {
		overflow: auto;
	}

	// Remove the inner border and padding in Firefox.
	::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	// Remove the additional ':invalid' styles in Firefox
	// TODO: remove it when a percent of the FF 78 ESR users will be below 0.1%
	// because it was fixed in FF 86
	:-moz-ui-invalid {
		box-shadow: none;
	}

	// Correct the cursor style of increment and decrement buttons in Safari.
	::-webkit-inner-spin-button,
	::-webkit-outer-spin-button {
		height: auto;
	}

	// Remove the inner padding in Chrome and Safari on macOS.
	::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	/**
	1. Correct the inability to style clickable types in iOS and Safari.
	2. Change font properties to 'inherit' in Safari.
	*/
	::-webkit-file-upload-button {
		-webkit-appearance: button; // 1
		font: inherit; // 2
	}

	@if map.get(ml.$general-cfg, 'base-styles', 'default-reduce-motion') {
		@media (prefers-reduced-motion: reduce) {
			*,
			::before,
			::after {
				animation-delay: -1ms !important;
				animation-duration: 1ms !important;
				animation-iteration-count: 1 !important;
				background-attachment: initial !important;
				scroll-behavior: auto !important;
				transition-delay: 0s !important;
				transition-duration: 0s !important;
			}
		}
	}

	@if map.get(ml.$general-cfg, 'base-styles', 'reset') {
		p, blockquote, iframe,
		pre, figure, fieldset, hr,
		button, input, optgroup,
		select, legend, textarea,
		ul, ol, li, dl, dt, dd, td, th
		{
			margin: 0;
			padding: 0;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: inherit;
			font-weight: inherit;
			margin: 0;
		}

		ul, ol {
			list-style: none;
		}

		table {
			border-collapse: collapse;
		}

		address {
			font-style: inherit;
		}
	}
}
