@use '../../tools' as ml;

/*
CSS variables

Global CSS custom properties which used in MLT. Their names are stored in variables and can be changed in [settings](section-sass-tools.html#kssref-sass-tools-settings-css_vars-names). Names of such variables correspond to the original names of custom properties. Global custom properties names begin with the `ml` prefix.

The values and meaning of many custom properties correspond to the [SASS settings](section-sass-tools.html#kssref-sass-tools-settings) of MLT core. But unlike them, custom properties can be changed dynamically without recompiling.

In some blocks and utilities, custom properties are also used. Look for info about them in the description of the corresponding block or utility.

You can find global CSS variables in `sass/core/variables.scss`.

--ml.gg = 12px - [grid gutter](section-concepts.html#kssref-concepts-grid) in `px`.
Value sets [here](section-sass-tools.html#kssref-sass-tools-settings-grid-gutters).
Fallback is [ml.$grid-default-gtr](section-sass-tools.html#kssref-sass-tools-settings-general).
--ml.gg-rem = 0.75rem - grid gutter in `rem`.
--ml.grid-cols = 12 - number of columns in the [grid system](section-concepts.html#kssref-concepts-grid). Sets by [ml.$grid-columns](section-sass-tools.html#kssref-sass-tools-settings-grid).

Styleguide: core-styles.css_vars
*/

:root {
	$prev-value: ml.$gtr-first;

	#{ml.$var-gg}: ml.$gtr-first;
	#{ml.$var-gg-rem}: ml.px2rem(ml.$gtr-first);
	#{ml.$var-grid-cols}: ml.$grid-columns;

	@each $key, $value in ml.$grid-gutters {
		@if $value != $prev-value {
			@include ml.bp($key) {
				#{ml.$var-gg}: $value;
				#{ml.$var-gg-rem}: ml.px2rem($value);
			}
		}

		$prev-value: $value;
	}
}
