/// Base block for buttons and links.
/// Stylize it with modifiers like .btn--common

.btn {
	display: inline-block;
	box-sizing: border-box;
	font-family: inherit;
	font-size: mlu-px2rem($mlu-base-font-size);
	line-height: normal;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	border: 0;
	cursor: pointer;
}
