/*
Btn

Блок для создания кнопок. Нормализует стили. Оформление задается с помощью модификаторов и утилит.

Markup:
<a class="btn btn--common W3gs_md" href="#">Login</a>

Styleguide: core-blocks.btn
*/

.btn {
	display: inline-block;
	box-sizing: border-box;
	font-family: inherit;
	font-size: mlu-px2rem($mlu-base-font-size);
	line-height: normal;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	border: 0;
	cursor: pointer;
}
