@use '../../tools' as ml;

/*
CSS variables

Global CSS custom properties which used in Mlut. Their names are stored in variables and can be changed in [settings](section-sass-tools.html#kssref-sass-tools-settings-css_vars-names). Names of such variables correspond to the original names of custom properties. Global custom properties names begin with the `ml` prefix.

--ml-gg = 12px - [grid gutter](section-concepts.html#kssref-concepts-custom_unit-gg) in `px`.
Value sets [here](section-sass-tools.html#kssref-sass-tools-settings-grid-gutters).
Fallback is [$gs-default-gtr](section-sass-tools.html#kssref-sass-tools-settings-general).
--ml-gg-rem = 0.75rem - grid gutter in `rem`.
--ml-gscc = 12 - number of columns in the grid system. Sets by [$gs-columns](section-sass-tools.html#kssref-sass-tools-settings-grid). Available only with `$legacy-grid-system` flag enabled

Styleguide: core-styles.css_vars
*/

:root {
	$prev-value: ml.$gtr-first;

	#{ml.$var-gg}: ml.$gtr-first;
	#{ml.$var-gg-rem}: ml.px2rem(ml.$gtr-first);

	@if ml.$legacy-grid-system {
		#{ml.$var-gscc}: ml.$gs-columns;
	}

	@each $key, $value in ml.$gs-gutters {
		@if $value != $prev-value {
			@include ml.bp($key) {
				#{ml.$var-gg}: $value;
				#{ml.$var-gg-rem}: ml.px2rem($value);
			}
		}

		$prev-value: $value;
	}
}
