@use 'sass:map';

$util-type-keyword: ('keyword', 'css-kw', 'var', 'cust-prop',);

@use 'tools/settings' as mlu with (
	$flag-test-env: true,
	$utils: (
		'registry': (
			'-Xy': (
				'properties': (
					top,
					right,
					bottom,
					left
				),
			),
			'D': (
				'properties': display,
				'value-type': $util-type-keyword,
				'keywords': (
				'ig': inline-grid,
				'f': flex,
				),
			),
			'Jc': (
				'properties': justify-content,
				'keywords': ('se': space-evenly),
				'value-type': $util-type-keyword,
			),
			'Pos': (
				'properties': position,
				'keywords': ('sk': sticky),
				'value-type': $util-type-keyword,
			),
		),
	),
);

@use 'tools/functions';
@use 'tools/mixins';
