@use 'sass:map';
@use 'sass-true' as * with (
	$terminal-output: false,
);

@use 'tools/settings' with (
	$flag-test-env: true,
	$utils-data: (
		'utils': (
			'registry': (
				'-Xy': (
					'properties': (
						top,
						right,
						bottom,
						left
					),
				),
				'D': (
					'properties': display,
					'value-type': 'keyword',
					'keywords': (
					'ig': inline-grid,
					'f': flex,
					),
				),
				'Jc': (
					'properties': justify-content,
					'keywords': ('se': space-evenly),
					'value-type': 'keyword',
				),
				'Pos': (
					'properties': position,
					'keywords': ('sk': sticky),
					'value-type': 'keyword',
				),
			),
		),
	),
);

@use 'tools/functions';
@use 'tools/mixins';
