@use 'sass:map';
@use 'sass-true' as * with (
	$terminal-output: false,
);

@use 'tools/settings/base/flags' with (
	$flag-test-env: true,
);

@use 'tools/settings/common/utils' as cu with (
	$utils-data: (
		'utils': (
			'registry': (
				'Pos': null,
			),
		),
	),
	$utils-data-ext: (
		'utils': (
			'registry': (
				'Pos': (
					'properties': position,
					'keywords': ('sk': sticky),
				),
			)
		),
	)
);

@use 'tools/settings/at-rules';
@use 'tools/functions';
@use 'tools/mixins';
@use 'core/utils';
