@use 'sass:map';
@use 'sass-true' as * with (
	$terminal-output: false,
);

@use 'tools/settings' with (
	$flag-test-env: true,
	$utils-data: (
		'utils': (
			'registry': (
				'-Xy': (
					'properties': (
						top,
						right,
						bottom,
						left
					),
				),
				'D': (
					'properties': display,
					'keywords': (
					'ig': inline-grid,
					'f': flex,
					),
				),
				'Jc': (
					'properties': justify-content,
					'keywords': ('se': space-evenly),
				),
				'Pos': null,
			),
		),
	),
	$utils-data-ext: (
		'utils': (
			'registry': (
				'Pos': (
					'properties': position,
					'keywords': ('sk': sticky),
				),
			)
		),
	)
);

@use 'tools/functions';
@use 'tools/mixins';
@use 'core/utils';
