/***
* Row:
*/

/**
* row:
* Блок для создания раскладок из колонок или карточек.
*
*		@example
*		.row
*			.row__col.test-content.W3c 3/12
*			.row__col.test-content.W3c 3/12
*			.row__col.test-content.W6c 6/12
*/

/**
* row__col:
* Элемент для создания колонок. По умолчанию растягивается под ширину контента.
* Размеры колонкам задаются с помощью утилит.
*
*		@example
*		.row
*			- for(var i = 0; i < 3; i++)
*				.row__col.test-content
*					p Текст в колонке
*			.row__col.test-content
*				p Et molestie ac, feugiat sed lectus
*				p Текст в колонке
*
*/

.row {
	@include mlu-row;
}

.row__col,
.row__cell,
.row__item {
	position: relative;
	display: inline-block;
	max-width: 100%;
	box-sizing: border-box;
	text-align: left;
	vertical-align: top;
	font-size: $mlu-base-font-size;
	font-size: mlu-px2rem($mlu-base-font-size);
	direction: ltr;

	&.row {
		font-size: 0px;
	}

	& > :first-child:not([class]) {
		margin-top: 0px;
	}

	& > :last-child:not([class]) {
		margin-bottom: 0px;
	}
}

.row__col {
	margin: 0 $mlu-grid-gutter-fallback $mlu-gtr-sm * 2;
	margin: 0 calc(#{$mlu-gtr-sm}) $mlu-gtr-sm * 2;
	width: 100% - ($mlu-grid-gutter-fallback * 2);
	width: calc(100% - #{mlu-grid-gutter($mlu-bp-sm) * 2});

	@include mlu-generate-gutter(-1, $calc: 1);
	@include mlu-generate-gutter(-1, $direct: "bottom", $coef: 2);

	&.row {
		margin-bottom: 0px;
	}
}

.row__cell {
	width: 100%;
	@include mlu-generate-gutter($type: "padding");
}
