// Blocks
//
// Settings affecting the styles of the core blocks.
//
// $wrapper-max-width = 1200px - [wrapper](section-core-blocks.html#kssref-core-blocks-wrapper) `max-width`.
// $debug-gs-col-color = #d15 - column color of [grid-debug](section-core-blocks.html#kssref-core-blocks-grid-debug) block.
// $debug-gs-gtr-color = #336 - gutter color of [grid-debug](section-core-blocks.html#kssref-core-blocks-grid-debug) block.
//
// Styleguide: sass-tools.settings.blocks

$wrapper-max-width: 1200px !default;

$debug-gs-col-color: #d15 !default;
$debug-gs-gtr-color: #336 !default;
