/*
Core extend

The module contains a set of utilities and mixins-wrappers for mk-util.

A set of rarely used utilities values not included in the MLUT core. Most of them correspond to the standard CSS properties values.

Weight: 0

Styleguide: sass_modules.core_extend
*/

/*
Utilities

A set of rarely used utilities values not included in the MLUT core. Most of them correspond to the standard CSS properties values.

Weight: 0

Styleguide: sass_modules.core_extend.utils
*/

/*
D

Display.

i - inline.
tbcl - table-column.
tbfg - table-footer-group.

Styleguide: sass_modules.core_extend.utils.d
*/

@include mlu-mk-util("D", "display", (
	"i": inline,
	"tbcl": table-column,
	"tbfg": table-footer-group,
));

/*
Flex

* `Ac` \- all values *Responsive*.
* `Ai-s` \- *Responsive*.
* `mAi-s` \- *Responsive*. Available if [flex-pe](section-sass-tools.html#kssref-sass-tools-settings-flags) flag turned on.

Styleguide: sass_modules.core_extend.utils.flex
*/

@include mlu-mk-util("Ac", "align-content", (
	"fs": flex-start,
	"fe": flex-end,
	"c": center,
	"sa": space-around,
	"sb": space-between,
), "bp");

@each $key, $value in $mlu-grid-cols {
	@include mlu-bpm($key) {
		.Ai-s_#{$key} {
			align-items: stretch;
		}

		@if $mlu-flag-flex-pe {
			.mAi-fs_#{$key} {
				align-items: flex-start;

				> * {
					vertical-align: top;
				}
			}

			.mAi-c_#{$key} {
				align-items: center;

				> * {
					vertical-align: middle;
				}
			}

			.mAi-fe_#{$key} {
				align-items: flex-end;

				> * {
					vertical-align: bottom;
				}
			}

			.mAi-b_#{$key} {
				align-items: baseline;

				> * {
					vertical-align: baseline;
				}
			}
		}
	}
}

/*
Text

* `Ta-j`

Styleguide: sass_modules.core_extend.utils.text
*/

.Ta-j {
	text-align: justify;
}
