@use 'sass:map';
@use 'sass:list';
@use 'sass:string';
@use 'sass:meta';
@use 'sass-true' as *;
@use 'tools' as ml;

ml.$utils-cfg: map.deep-merge(
	ml.$utils-cfg,
	('value-types': (
		'red-ppl': ('number', ml.$kSsVCP, 'cust-prop', 'cp-suffix'),
		'tst-ppl': ('cust-prop', ml.$kSsVCP, 'cp-suffix'),
	)
	)
);

ml.$utils-db: map.deep-merge(
	ml.$utils-db,
	('utils':
	(
		'registry': (
			'Gc': (
				'properties': grid-column,
				'value-type': 'unitless',
				'multi-list-separator': '/',
			),
			'Red': (
				'properties': --reputation,
				'value-type': 'red-ppl',
			),
			'-Tst': (
				'properties': --testou,
				'value-type': 'tst-ppl',
			),
			'Ai': (
				'keywords': (
					'e': end,
					'b': baseline,
					'c': center,
				),
			),
			'Animtf': (
				'keywords': 'timing-functions',
			),
			'Trs': (
				'keywords': 'timing-functions',
			),
		),
		'keywords': (
			'timing-functions': (
				'e': ease,
				'ei': ease-in,
				'eo': ease-out,
			),
		),
	),
	'common': (
		'keywords': (
			'colors': (
				'prm0': #c06,
				'sec0': #0c6,
				'varFb': (204, 0, 102),
			),
			'global': (
				'$cPrm0': #60c,
				'$opDef': 0.64,
				'$trsduDef': 0.3s,
			),
		),
	),
	),
);

@function cp-suffix($value, $data: ()) {
	@return string.insert($value + '', '-suf', -2);
}

ml.$utils-cfg: map.set(
	ml.$utils-cfg,
	'value-converters',
	'cp-suffix',
	meta.get-function('cp-suffix')
);

@include describe('tools/functions/common/utils/') {
	@include describe('convert-util-value') {
		$-tests: (
			'converts number': (
				(200, 'W'): 200px,
				('=200', 'W'): 200,
				('20vw', 'W'): 20vw,
				(300, 'Fw'): 300,
				(2su, 'Fz'): ml.sur(2),
				(2su, 'P'): ml.sur(2) ml.su(2),
				(200x, 'W'): 200ex,
				('16/9', 'Ar'): string.unquote('16/9'),
				(70p, 'Op'): 0.7,
				('0.8', 'Op'): 0.8,
				(1.5, 'W'): 1.5rem,
				(-0.7, 'Ml'): -0.7rem,
			),
			'converts global keyword': (
				('a', 'W'): auto,
				('$sm', 'W'): ml.bp(sm),
				('=a', 'W'): a,
			),
			'converts custom property with fallback': (
				('-myCard?200', 'W'): var(--ml-myCard, 200px),
				('-myCard?a', 'W'): var(--ml-myCard, auto),
				('-cardFw?500', 'Fw'): var(--ml-cardFw, 500),
				('-myVar?=200', 'W'): var(--ml-myVar, 200),
				('-myCard?-defWd?150', 'W'): var(--ml-myCard, var(--ml-defWd, 150px)),
			),
			'applys several converters as pipeline': (
				('-css-var', 'Red'): var(--ml-css-var-suf),
				(22, 'Red'): 22px,
				('-css-var', '-Tst'): var(--ml-css-var),
			),
			'converts property abbreviation': (
				('bgc', 'Trs'): background-color,
				('=bgc', 'Trs'): bgc,
			),
			'converts utility keyword': (
				('c', 'Ai'): center,
				('ei', 'Animtf'): ease-in,
				('', 'Bd'): (1px solid,),
			),
			'converts colors': (
				('t', 'C'): transparent,
				('$cPrm0*20p', 'C'): rgba(102, 0, 204, 0.2),
				('#60c*20p', 'C'): rgba(102, 0, 204, 0.2),
				('prm0*$opDef', 'C'): rgba(204, 0, 102, 0.64),
				('prm0*-co', 'C'): rgba(204, 0, 102, var(--ml-co, 1)),
				('-co?varFb*-al?70p', 'C'): rgba(var(--ml-co, 204, 0, 102), var(--ml-al, 0.7)),
				('#c06*20', 'C'): rgba(204, 0, 102, 20),
				('prm10*-co', 'C'): string.unquote('prm10*-co'),
				('-color*20p', 'C'): rgba(var(--ml-color), 0.2),
			),
			'converts values list': (
				('1r;2;5p', 'Bdrs'): 1rem 2px 5%,
				('1r;=10x', 'M'): 1rem 10x,
				('3su;16;a', 'M'): ml.su(3) 16px auto,
				('c;-trsdu;ei', 'Trs'): color var(--ml-trsdu) ease-in,
				('cc;prm0*5p', 'C'): currentColor rgba(204, 0, 102, 0.05),
				('3;sec0;d', 'Bd'): 3px #0c6 dotted,
			),
			'converts values multi list': (
				('1r;2/5p', 'Bdrs'): list.slash(1rem 2px, 5%),
				('bdc;3s,c;$trsduDef', 'Trs'): (border-color 3s, color 0.3s),
				('3/5', 'Gc'): list.slash(3, 5),
			),
		);

		@each $test, $data in $-tests {
			@include it($test) {
				@each $args, $expect in $data {
					@include assert-equal(
						ml.convert-util-value($args...),
						$expect,
						$inspect: true,
					);
				}
			}
		}
	}
}
