@use 'sass:map';
@use 'sass:list';
@use 'sass:string';
@use 'sass:meta';
@use 'sass-true' as *;
@use 'tools' as mlu;

mlu.$utils-data: map.deep-merge(
	mlu.$utils-data,
	('utils':
	(
		'registry': (
			'Gc': (
				'properties': grid-column,
				'value-type': ('unitless', 'css-kw'),
				'multi-list-separator': '/',
			),
			'Red': (
				'properties': --reputation,
				'value-type': ('number', mlu.$tGVcp, 'cust-prop', 'cp-suffix'),
			),
			'-Tst': (
				'properties': --testou,
				'value-type': ('cust-prop', mlu.$tGVcp, 'cp-suffix'),
			),
			'Ai': (
				'keywords': (
					'e': end,
					'b': baseline,
					'c': center,
				),
				'value-type': mlu.$util-type-keyword,
			),
			'Animtf': (
				'keywords': 'timing-functions',
				'value-type': mlu.$util-type-keyword,
			),
			'Trs': (
				'keywords': 'timing-functions',
			),
		),
		'variables': (
			'testVar': 1989px,
			'trsduDef': 0.3s,
			'opDef': 0.64,
			'cPrm0': #60c,
		),
		'keywords': (
			'timing-functions': (
				'e': ease,
				'ei': ease-in,
				'eo': ease-out,
			),
		),
	),
	'general': (
		'keywords': (
			'colors': (
				'prm0': #c06,
				'sec0': #0c6,
			),
		),
	),
	),
);

@function cp-suffix($value, $data: ()) {
	@return string.insert($value + '', '-suf', -2);
}

mlu.$utils-config: map.set(
	mlu.$utils-config,
	'value-converters',
	'cp-suffix',
	meta.get-function('cp-suffix')
);

@include describe('tools/functions/utils/') {
	@include describe('convert-util-value') {
		$-tests: (
			'converts number': (
				(200, 'W'): 200px,
				('=200', 'W'): 200,
				('20vw', 'W'): 20vw,
				(300, 'Fw'): 300,
				(2su, 'Fz'): mlu.sur(2),
				(2su, 'P'): mlu.sur(2) mlu.su(2),
				(200x, 'W'): 200ex,
				('16/9', 'Ar'): string.unquote('16/9'),
				(70p, 'Op'): 0.7,
				('0.8', 'Op'): 0.8,
			),
			'converts global CSS keyword': (
				('a', 'W'): auto,
				('=a', 'W'): a,
			),
			'converts variables': (
				('$testVar', 'W'): map.get(mlu.$utils-data, 'utils', 'variables', 'testVar'),
				('$undefVar', 'W'): string.unquote('ERROR: Undefined variable: `$undefVar`'),
			),
			'applys several converters as pipeline': (
				('-css-var', 'Red'): var(--mlu-css-var-suf),
				(22, 'Red'): 22px,
				('-css-var', '-Tst'): var(--mlu-css-var),
			),
			'converts property abbreviation': (
				('bgc', 'Trs'): background-color,
				('=bgc', 'Trs'): bgc,
			),
			'converts utility keyword': (
				('c', 'Ai'): center,
				('ei', 'Animtf'): ease-in,
			),
			'converts colors': (
				('t', 'C'): transparent,
				('$cPrm0*20p', 'C'): rgba(102, 0, 204, 0.2),
				('#60c*20p', 'C'): rgba(102, 0, 204, 0.2),
				('prm0*$opDef', 'C'): rgba(204, 0, 102, 0.64),
				('prm0*-co', 'C'): rgba(204, 0, 102, var(--mlu-co, 1)),
				('#c06*20', 'C'): rgba(204, 0, 102, 20),
				('prm10*-co', 'C'): string.unquote('prm10*-co'),
				('-color*20p', 'C'): rgba(var(--mlu-color), 0.2),
			),
			'converts values list': (
				('1r:2:5p', 'Bdrs'): 1rem 2px 5%,
				('1r:=10x', 'M'): 1rem 10x,
				('3su:16:a', 'M'): mlu.su(3) 16px auto,
				('c:-trsdu:ei', 'Trs'): color var(--mlu-trsdu) ease-in,
				('cc:prm0*5p', 'C'): currentColor rgba(204, 0, 102, 0.05),
			),
			'converts values multi list': (
				('1r:2/5p', 'Bdrs'): list.slash(1rem 2px, 5%),
				('bdc:3s,c:$trsduDef', 'Trs'): (border-color 3s, color 0.3s),
				('3/5', 'Gc'): list.slash(3, 5),
			),
		);

		@each $test, $data in $-tests {
			@include it($test) {
				@each $args, $expect in $data {
					@include assert-equal(
						mlu.convert-util-value($args...),
						$expect,
						$inspect: true,
					);
				}
			}
		}
	}
}
