@use 'sass:map';
@use 'sass-true' as *;
@use 'src/sass/tools' as ml;

ml.$utils-db: map.deep-merge(
	ml.$utils-db,
	('utils':
	(
		'registry': (
			'Ai': (
				'keywords': (
					'e': end,
					'b': baseline,
					'c': center,
				),
			),
			'Ts': (
				'keywords': ('transition', 'timing-functions',)
			),
		),
		'keywords': (
			'timing-functions': (
				'e': ease,
				'ei': ease-in,
				'eo': ease-out,
			),
			'transition': (
				'': all 3s,
				'all': all 3s,
				'def0': (color 3s, background-color 3s),
			),
		),
	),
	),
);

$-global-kw: map.get(ml.$utils-db, 'common', 'keywords', 'global');
ml.$utils-db: map.set(
	ml.$utils-db, 'common', 'keywords', 'global', ('gODef': 0.88, 'gTsdDef': 0.3s,)
);

@include describe('tools/functions/common/utils/') {
	@include describe('expand-util-kw-alias') {
		$-tests: (
			'util own keywords': (
				('KW', 'Ai'): (
					'values': (
						'e': end,
						'b': baseline,
						'c': center,
				)),
				('KW', 'Ts'): (
					'values': (
						'': all 3s,
						'all': all 3s,
						'def0': (color 3s, background-color 3s),
						'e': ease,
						'ei': ease-in,
						'eo': ease-out,
				)),
				('BpAll_KW_f,a', 'Ai'): (
					'components': (
						'at-rules': 'BpAll',
						'post-states': 'f,a',
					),
					'values': (
						'e': end,
						'b': baseline,
						'c': center,
					)
				),
			),
			'get CSS-wide keywords if util has not their own': (
				('KW', 'P'): (
					'values': (
						'ih': inherit,
						'ini': initial,
						'rvr': revert,
						'ust': unset,
					)
				),
			),
			'keywords from `common` section': (
				('KW.global', 'P'): (
					'values': (
						'gODef': 0.88,
						'gTsdDef': 0.3s,
					)
				),
			),
			'keywords by predefined group alias': (
				('KW.General', 'P'): (
					'values': (
						'ih': inherit,
						'ini': initial,
						'rvr': revert,
						'ust': unset,
						'gODef': 0.88,
						'gTsdDef': 0.3s,
					)
				),
				('KW.All', 'Ai'): (
					'values': (
						'ih': inherit,
						'ini': initial,
						'rvr': revert,
						'ust': unset,
						'gODef': 0.88,
						'gTsdDef': 0.3s,
						'e': end,
						'b': baseline,
						'c': center,
					)
				),
				('KW.undefineD', 'Ai'): 'ERROR: Invalid keyword group alias: `undefineD`',
			),
			'path alias to keywords': (
				('KW.utils.timing-functions', 'Ts'): (
					'values': (
						'e': ease,
						'ei': ease-in,
						'eo': ease-out,
					)
				),
				('KW.common.css.random-item', 'Ts'): (
					'values': (
						'ih': inherit,
						'ini': initial,
						'rvr': revert,
						'ust': unset,
					)
				),
				('KW.speak.now', 'Ai'): 'ERROR: Not found keywords on this path: `speak.now`',
			),
		);

		@each $test, $data in $-tests {
			@include it($test) {
				@each $args, $expect in $data {
					@include assert-equal(
						ml.expand-util-kw-alias($args...),
						$expect,
						$inspect: true,
					);
				}
			}
		}

		@include it('expand alias with different behavior') {
			ml.$uv-kw-alias-behavior: 1;

			@include assert-equal (
				ml.expand-util-kw-alias('KW.utils.transition', 'Ts'),
				(
					'values': (
						'': all 3s,
						'def0': (color 3s, background-color 3s),
					),
				),
				$inspect: true,
			);

			ml.$uv-kw-alias-behavior: 2;

			@include assert-equal (
				ml.expand-util-kw-alias('KW.utils.transition', 'Ts'),
				(
					'values': (
						'all': all 3s,
						'def0': (color 3s, background-color 3s),
					),
				),
				$inspect: true,
			);
		}
	}
}

ml.$utils-db: map.set(
	ml.$utils-db, 'common', 'keywords', 'global', $-global-kw
);
