/* This comment needed for add @charset "utf-8"; in source because sass compiler erased this at-rule without it: утф8 */

/*
Core blocks

Set of universal BEM-blocks for using on any project. Some blocks contain elements and modifiers.

Core blocks don't contain, or almost don't contain styles such as colors, backgrounds, etc. Such styles are set on the 'theme' or 'design' layers. To style blocks or their elements, use utilities or modifiers such as block--mod.

Weight: 0

Styleguide: core-blocks
*/

/*
Core utilities

Set of utilities that can be used on any project.

Utilities are grouped by sections. Each section lists the standard utilities that come with the MLUT core. Modified utilities, utilities with more values and non-standard values are allocated in subsections.

In the description of the utilities, there may be a '**Parameters**' item in which the available values are listed. Instead of the utility value, the '`initial`' keyword may be specified. We will get this effect when using the utility with no value. The range of values can be specified as `0..3`.

If the property does not have a special value 'i' then 'i' value means `inherit`.

Some utilities responsive by design or have only responsive values. It will be indicated in the description.

For some utilities, there is a description for non-developers.

Weight: 1

Styleguide: core-utils
*/

/*
Core styles

Simple text

Weight: 2

Styleguide: core-styles
*/

/*
Sass tools

Simple text

Weight: 3

Styleguide: sass-tools
*/

/*
Examples

Additional examples of core blocks, utilities, tools and ready-made components.

Weight: 4

Styleguide: examples
*/

/*
Settings

Grid settings, compilation flags, constants and more.

Styleguide: sass-tools.settings
*/

// Flags
//
// Flags for core compilation. These are constants that have 2 values: true or false.
//
// $MLU-FLAG-EXTENDED = false - Turn on additional features but increases final CSS size.
// $MLU-FLAG-CALC-FALLBACK = false - Turn on CSS calc() fallback for grid utils on md+ breakpoints.
// $MLU-FLAG-COL-OFFSET = true - Turn on generation grid col offset utils (Ml).
//
// Styleguide: sass-tools.settings.flags

$MLU-FLAG-EXTENDED: false !default;
$MLU-FLAG-CALC-FALLBACK: false !default;
$MLU-FLAG-COL-OFFSET: true !default;

// General
//
// Settings that affect the work of the mixins, functions and all toolkit.
//
// $MLU-BROWSER-FONT-SIZE = 16px - 16px used because is default font size in settings of most browsers.
// $mlu-base-font-size = $MLU-BROWSER-FONT-SIZE - Base font size on website. Is used for rems fallback in 'row' elements and in mlu-px2em default font size.
// $mlu-grid-default-cols = 12 - Default columns count on large width screen (>960px).
// $mlu-main-directions = ("top", "right", "bottom", "left") - List with directions for css properties generation. It used in 'mlu-generate-gutter' mixin.
// $mlu-grid-gutter-fallback = 1.5% - Fallback for grid gutter's width if CSS calc() not supported
//
// Styleguide: sass-tools.settings.general

$MLU-BROWSER-FONT-SIZE: 16px !default;

$mlu-base-font-size: $MLU-BROWSER-FONT-SIZE !default;

$mlu-grid-default-cols: 12 !default;

$mlu-grid-gutter-fallback: 1.5% !default;

$mlu-main-directions: (
	"top",
	"right",
	"bottom",
	"left",
) !default;

// Blocks
//
// Settings affecting the styles of the core blocks.
//
// $mlu-wrapper-max-width = 1200px - Wrapper block max width.
// $mlu-font-family - Sans serif font stack contains default fonts on different OS.
// $mlu-font-family-mono - Monospace font stack contains default fonts on different OS.
// $mlu-debug-col-color = #60f - Column color of grid-debug block.
// $mlu-debug-gutter-color = #ddf - Gutter color of grid-debug block.
//
// Styleguide: sass-tools.settings.blocks

$mlu-wrapper-max-width: 1200px !default;

// stylelint-disable
$mlu-font-family: (
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Oxygen,
	Cantarell,
	Ubuntu,
	"Fira Sans",
	"Droid Sans",
	"Helvetica Neue",
	Arial,
	sans-serif
) !default;

$mlu-font-family-mono: (
	SFMono-Regular,
	Menlo,
	Monaco,
	Consolas,
	"Liberation Mono",
	"Courier New",
	monospace
) !default;
// stylelint-enable

$mlu-debug-col-color: #60f !default;
$mlu-debug-gutter-color: #ddf !default;

// Utilities
//
// Settings affecting the values and generation of the core utilities.
//
// $mlu-W-card = 288px - Fixed width for cards. This is value for `W-card` utility.
// $mlu-My-range = 4 - Count of `Mt` and `Mb` utilities.
// $mlu-Z-range = 4 - `z-index` range. Counted from zero.
// $mlu-Z-max = 9999 - `z-index` max value.
//
// Styleguide: sass-tools.settings.utils

$mlu-W-card: 288px !default;

$mlu-My-range: 4 !default;

$mlu-Z-max: 9999 !default;
$mlu-Z-range: 4 !default;

// Grid
//
// Settings that affect the work of grid and indents.
//
// $mlu-breakpoints - Map with main breakpoints. First breakpoint is $mlu-bp-sm.
// $mlu-grid-cols - Columls count on breakpoints.
// $mlu-grid-gutters - Map with grid gutters on breakpoints.
//
// Styleguide: sass-tools.settings.grid

// Breakpoints
//
// Name, value and columns count on breakpoint.
//
// $mlu-bp-xs = 0 - "xs", 2
// $mlu-bp-sm = 520px - "sm", 4
// $mlu-bp-md = 760px - "md", 12
// $mlu-bp-lg = 960px - "lg", 12
// $mlu-bp-xl = 1168px - "xl", 12
//
// Styleguide: sass-tools.settings.grid.breakpoints

$mlu-bp-xs: "xs" !default;
$mlu-bp-sm: "sm" !default;
$mlu-bp-md: "md" !default;
$mlu-bp-lg: "lg" !default;
$mlu-bp-xl: "xl" !default;

$mlu-breakpoints: (
	$mlu-bp-sm: 520px,
	$mlu-bp-md: 760px,
	$mlu-bp-lg: 960px,
	$mlu-bp-xl: 1168px,
) !default;

$mlu-grid-cols: (
	$mlu-bp-sm: 4,
	$mlu-bp-md: 12,
	$mlu-bp-lg: $mlu-grid-default-cols,
	$mlu-bp-xl: $mlu-grid-default-cols,
) !default;

// Gutters
//
// Gutters value on breakpoints. Gutter on xs equal gutter on sm.
//
// $mlu-gtr-sm - 12px
// $mlu-gtr-md - 12px
// $mlu-gtr-lg - 16px
// $mlu-gtr-xl - 16px
//
// Styleguide: sass-tools.settings.grid.gutters

$mlu-gtr-sm: 12px !default;
$mlu-gtr-md: $mlu-gtr-sm !default;
$mlu-gtr-lg: 16px !default;
$mlu-gtr-xl: $mlu-gtr-lg !default;

$mlu-grid-gutters: (
	$mlu-bp-sm: $mlu-gtr-sm,
	$mlu-bp-md: $mlu-gtr-md,
	$mlu-bp-lg: $mlu-gtr-lg,
	$mlu-bp-xl: $mlu-gtr-xl,
) !default;
